<!DOCTYPE HTML>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>长光</title>
		<link rel="stylesheet" href="../../../resources/assets/plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../resources/assets/common/css/common.css" />
		<link rel="stylesheet" href="../../../resources/assets/front/css/index/index.css" />
		<link rel="stylesheet" href="../../../resources/assets/front/css/course/course-detail.css" />
		
		<script src="../../../resources/assets/plugins/jquery.min.js"></script>
		<script src="../../../resources/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../resources/assets/common/js/common.js"></script>
		<script src="../../../resources/assets/front/js/main.js"></script>
	</head>
	
	<body>
		<div id="index">
			<!--导航-->
			<div class="header-wrap">
				<div class="header">
					<div class="logo">
						<a href="../index/index.html">
							<img src="../../../resources/imgs/common/logo2.png" alt="" />
						</a>
					</div>
					<div class="nav">
						<ul>
							<li><a href="../index/index.html " >首页</a></li>
					        <li><a href="../course/course.html" style="color:#ee4747;">课程</a></li>
					        <li><a href="../course/class.html">开班信息</a></li>
					        <li><a href="../teacher/teacher.html">专家师资</a></li>
					        <li><a href="../work/work.html">学员就业</a></li>
					        <li><a href="../news/news.html">公司新闻</a></li>
					      	<li><a href="../about/about.html" >关于我们</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			<div class="clearfix top_height"></div>
			<!--//导航-->
			<div class="courseInfor_wrap">
				<div class="courseInfor">
					<h3 class="courseInfor_title">
						ThinkPHP5.0+小程序商城构建全栈应用						
					</h3>
					<p class="courseInfor_text">
						来自于：
						<a>某某大学</a>
						
						<span class="courseInfor_line">
						</span>
						分类：
						<a>
								C语言	
						</a>
					</p>
					<div class="courseInfor_display">
						<div class="courseInfor_displayimg">
							<img src="../../../resources/imgs/classInfor/shizhan1.jpg" style="width: 538px; height: 303px;" />
						</div>
						<div class="courseInfor_displaytext">
							<h4 class="courseInfor_title1">
								课程简述：
							</h4>
							<p class="courseInfor_textContent">
								本课程将带你走进TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API本课程将带你走进TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API本课程将带你走进TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API
							</p>
							<div class="courseInfor_explainbox">
								<div class="right">
									<div class="courseInfor_textHeight">浏览人数：<span>3562</span>人</div>
									<div class="courseInfor_textHeight" >
										学习人数：<span>5562</span>人
									</div>	
									<div class="courseInfor_textHeight" style="clear: both;">开课时间：<span>2017年5月9日</span></div>
								</div>
								<div class="right sign">
									<a href="#">报名</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				<div class="courseInfor_content">
					<div class="courseInfor_left">
						<ul class="courseInfor_list">
							<li>
								<a onclick="javascript:document.getElementById('summary').scrollIntoView()">课程简介</a>
							</li>
							<li>
								<a onclick="javascript:document.getElementById('course').scrollIntoView()">课程目录</a>
							</li>
							<li>
								<a onclick="javascript:document.getElementById('teacher').scrollIntoView()">授课教师</a>
							</li>
							<li>
								<a onclick="javascript:document.getElementById('here').scrollIntoView()">常见问题</a>
							</li>
						</ul>
						<div class="courseInfor_contents clearfix" id="summary">
							<h4 class="courseInfor_title2">
								<span class="courseInfor_lineheight"></span>课程简介
							</h4>
							<p class="courseInfor_textLine">
								《清华风物》旨在选取清华大学百年办学历程中所积淀下来的具有代表性的景观、建筑、纪念物及人物、团体、精神承载物等，秉持纵跨世纪、横贯东西的“大历史观”，以新颖的视角和人、景、事、情的浑然融合，艺术化地激活沉默的记忆，用影像铭刻和传承大学文化。在广泛传播清华校史校情的同时，旨在激发青年学生、教师、校友和广大社会同好的爱校爱国热情，实现“让历史告诉未来”的价值塑造功能。另一方面，也多维度地展示清华的校园风貌、精神文化和办学理念，树立良好的大学形象，推动大学文化的传承与创新。修习本课程，不但能了解清华园中富有教育意义和文化内涵的各类风物，也为学生深入探讨近现代国情和高度教育发展史、感受中国文化的魅力提供了独特的视角和体验。
							</p>
						</div>
						
						<div class="courseInfor_contents" id="course">
							<h4 class="courseInfor_title3">
								<span class="courseInfor_lineheight"></span>课程目录
							</h4>
							<div class="courseInfor_displayheight  limit">
								<dl>
									<dt>
										<span class="courseInfor_lineheight bgcolor"></span>第一章 理论概述
									</dt>
									<dd>
										第一课   简述
									</dd>
									<dd>
										第二课   简述说明
									</dd>
								</dl>
								<dl>
									<dt>
										<span class="courseInfor_lineheight bgcolor"></span>第一章 理论概述
									</dt>
									<dd>
										第一课   简述
									</dd>
									<dd>
										第二课   简述说明
									</dd>
								</dl>
								<div class="clearfix"></div>
								<dl>
									<dt>
										<span class="courseInfor_lineheight bgcolor"></span>第一章 理论概述
									</dt>
									<dd>
										第一课   简述
									</dd>
									<dd>
										第二课   简述说明
									</dd>
								</dl>
								<div class="clearfix"></div>
								<dl>
									<dt>
										<span class="courseInfor_lineheight bgcolor"></span>第一章 理论概述
									</dt>
									<dd>
										第一课   简述
									</dd>
									<dd>
										第二课   简述说明
									</dd>
								</dl>
								<div class="clearfix"></div>
							</div>
							<a class="text_hide">[查看全部]</a>
						</div>
						
 
						<div class="courseInfor_contents" id="teacher">
							<h4 class="courseInfor_title3">
								<span class="courseInfor_lineheight"></span>授课教师
							</h4>
							<ul class="courseInfor_teacherInfor">
								<li>
									<div class="courseInfor_teacherImg">
										<img src="../../../resources/imgs/classInfor/teacher1.jpg" alt="" class="courseInfor_teacherImg"  />
									</div>
									<div class="courseInfor_teacherText">
										<h5>
											<span class="courseInfor_teacherName">
												谭川	
											</span>
											<span>
												讲师
											</span>
										</h5>
										<p class="courseInfor_textlimit limit">
											1990-2000年就读于清华大学工程力学系，获博士学位，后留校工作。负责国家软科学课题、教育部重点课题等4项，参加省部级课题十余项。合作出版专著《媒介素养与媒介德育创新》，发表核心期刊论文约二十篇。现主讲文化素质教育核心课程《媒介素养综合知识与实践》、《影视艺术概论与作品赏析》等，2014年获清华大学教育成果特等奖。作为原创话剧《马兰花开》总编剧，先后获得第四届北京大学生戏剧节“最佳剧目奖”、第四届中国校园戏剧节“中国戏剧奖•校园戏剧奖”优秀剧目奖等。主创的各类节目及论文，获得教育部优秀教育新闻奖、全国优秀教育电视节目一等奖等奖励20余项等。主要研究方向为媒介素养、思想教育、影视文化、新闻与传播等。
										</p>
										<a class="text_hide">[查看全部]</a>
									</div>
									<div class="clearfix"></div>
								</li>
								<li>
									<div class="courseInfor_teacherImg">
										<img src="../../../resources/imgs/classInfor/teacher1.jpg" alt="" class="courseInfor_teacherImg"  />
									</div>
									<div class="courseInfor_teacherText">
										<h5>
											<span class="courseInfor_teacherName">
												谭川	
											</span>
											<span>
												讲师
											</span>
										</h5>
										<p class="courseInfor_textlimit limit">
											1990-2000年就读于清华大学工程力学系，获博士学位，后留校工作。负责国家软科学课题、教育部重点课题等4项，参加省部级课题十余项。合作出版专著《媒介素养与媒介德育创新》，发表核心期刊论文约二十篇。现主讲文化素质教育核心课程《媒介素养综合知识与实践》、《影视艺术概论与作品赏析》等，2014年获清华大学教育成果特等奖。作为原创话剧《马兰花开》总编剧，先后获得第四届北京大学生戏剧节“最佳剧目奖”、第四届中国校园戏剧节“中国戏剧奖•校园戏剧奖”优秀剧目奖等。主创的各类节目及论文，获得教育部优秀教育新闻奖、全国优秀教育电视节目一等奖等奖励20余项等。主要研究方向为媒介素养、思想教育、影视文化、新闻与传播等。
										</p>
										<a class="text_hide">[查看全部]</a>
									</div>
									<div class="clearfix"></div>
								</li>
							</ul>
						</div>
					
						<div class="courseInfor_contents" id="here">
							<h4 class="courseInfor_title3">
								<span class="courseInfor_lineheight"></span>常见问题
							</h4>
							<div class="courseInfor_question">
								<div class="courseInfor_questionTitle">
									问：机械设计的路简述
								</div>
								<p class="courseInfor_answer limit">
									答：最近几个月来到了机械设计吧，看到好多人在这上面发帖子说机械苦逼，没有前途。机械确实苦逼，特别是刚起步的时候，但机械的前途很好，这点不用怀疑。我也说一下自己的机械路，希望能给大家点正能量。
当初大四毕业后，自己怀着一颗奋进的心开始找工作。当时励志不进工厂当工人，不搞销售，不做文职，就准备进设计院走机械设计的道路。当时自己挑三拣四的选了三个设计院作为自己的目标，人为自己一定可以进去的。最后三家都没有要。一没关系二没研究生学历。当时面试的机会人家都不给。最后自己苦找了一个月。记得当时，在人家设计院主任的办公室里给人家干了将近一个月的卫生员，每天给主任打水、扫地和擦桌子。但是一个月主任都没有正眼看过我。有一次记得是设计院的一个员工把一个零件的尺寸标错了，记过加工出来一个废品。当时主任正在训斥那个设计员，我打水时从旁边路过听见了，当时自己想了想感觉如果改一下应该没有什么问题的。回去送水的时候主任在办公室里正在打电话处理这个事情。当时自己傻傻的站在那里等他电话结束，结果他不高兴了。把电话用手一扣就说：“你怎么还不出去？”我回答：“我有个想法或许可以不用报废这个零件。”当时他就笑了，说：“你想进来我知道，但是你也不能这么做啊。”我没有理他在说什么就把自己的想法说了，然后就出去了。过会主任出来跟我说：“你以后不用来给我打扫卫生了，你就自己找个地方呆着，如果谁那里忙不开你就去帮忙吧。”就这样我算是进到这个设计院了。现在想想真是感觉很好笑。或许这就是草根的路吧，当你没有路子去解决时，只能厚起脸皮去求别人。
当自己认为已经进到公司里的时候，其实我算是一个临时工吧。后来自己又从临时工转为有合同的正式员工，跟老设计院学习经验，下工厂车间实习，熟悉生产加工过程。最后自己又开始单独做项目，知道自己拿到设计资格证。现在工作六年了，感觉自己面前的路很宽。现在自己平均一年也要有100W左右的收入。
								</p>							
									<a class="text_hide">[查看全部]</a>
							</div>
						</div>
					</div>
					<div class="courseInfor_right">
						<h4 class="courseInfor_title3">
							<span class="courseInfor_lineheight"></span>相关课程
						</h4>
						<dl>
							<dd>
								<img src="../../../resources/imgs/classInfor/shizhan1.jpg" alt=""  style="width: 231px;"/>
							</dd>
							<dt class="courseInfor_courseTitle">
								机器制作的工作流程
							</dt>
						</dl>
						<dl>
							<dd>
								<img src="../../../resources/imgs/classInfor/shizhan1.jpg" alt=""  style="width: 231px;"/>
							</dd>
							<dt class="courseInfor_courseTitle">
								机器制作的工作流程
							</dt>
						</dl>
						<dl>
							<dd>
								<img src="../../../resources/imgs/classInfor/shizhan1.jpg" alt=""  style="width: 231px;"/>
							</dd>
							<dt class="courseInfor_courseTitle">
								机器制作的工作流程
							</dt>
						</dl>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>			
			<!--footer-->
			<div class="footer">
				<div class="wrap">
					<div class="footer-wrap clearfix">
						<div class="footer-icons-wrap">
							<a href="#" class="footer-icons-weibo" title="微博"></a>
							<a href="#" class="footer-icons-weixin" title="微信"></a>
							<a href="#" class="footer-icons-qqweibo" title="腾讯新闻"></a>
						</div>
						<div class="footer_intro">
							<div class="footer_link">
			                    <ul>
			                         <li><a href="../index/index.html" target="_blank">网站首页</a></li>
			                        <li><a href="../about/about.html" target="_blank" title="企业合作">企业合作</a></li>
			                        <li> <a href="../about/about.html#" target="_blank">联系我们</a></li>
			                        <li> <a href="../about/about.html" target="_blank">讲师招募</a></li>
			                        <li> <a href="../about/about.html" target="_blank">意见反馈</a></li>
			                    </ul>
			                    <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
		                	</div>
						</div>
					</div>
				</div>
			</div>
			<!--//footer-->
		</div>
	</body>
</html>
