<!DOCTYPE HTML>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>长光</title>
		<link rel="stylesheet" href="../../../resources/assets/plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../resources/assets/common/css/common.css" />
		<link rel="stylesheet" href="../../../resources/assets/front/css/course/course.css" />
		
		<script src="../../../resources/assets/plugins/jquery.min.js"></script>
		<script src="../../../resources/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../resources/assets/common/js/common.js"></script>
	</head>
	
	<body>
		<div id="index">
			<!--导航-->
			<div class="header-wrap">
				<div class="header">
					<div class="logo">
						<a href="../index/index.html">
							<img src="../../../resources/imgs/common/logo2.png" alt="" />
						</a>
					</div>
					<div class="nav">
						<ul>
							<li><a href="../index/index.html " >首页</a></li>
					        <li><a href="../course/course.html" style="color:#ee4747;">课程</a></li>
					        <li><a href="../course/class.html">开班信息</a></li>
					        <li><a href="../teacher/teacher.html">专家师资</a></li>
					        <li><a href="../work/work.html">学员就业</a></li>
					        <li><a href="../news/news.html">公司新闻</a></li>
					      	<li><a href="../about/about.html" >关于我们</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			<div class="clearfix top_height"></div>
			<!--//导航-->
			<div class="top-wrap-box">
				<div class="banner-bg-box clearfix">
					<a class="banner-item l" style="background: url(../../../resources/imgs/course/banner1.jpg);"></a>
					<a class="banner-item l" style="background: url(../../../resources/imgs/course/banner2.jpg);"></a>
				</div>
			</div>
			<div class="w index-main">
				<div class="cato-wrap-box clearfix">
					<div class="cato-nav-box l">
						<p class="smalle-title">
							按方向
						</p>
						<div class="cato-nav-row">
							<ul class="">
								<li class="cato-nav-item on">
									<a href="#">全部</a>
								</li>
								<li class="cato-nav-item">
									<a href="#">机械设计</a>
								</li>
								<li class="cato-nav-item">
									<a href="#">光学设计</a>
								</li>
								<li class="cato-nav-item">
									<a href="#">C++</a>
								</li>
								<li class="cato-nav-item">
									<a href="#">嵌入式设计</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="skill-nav-box l">
						<p class="smalle-title">
							热门分类
						</p>
						<div class="cato-nav-row">
	            			<ul class="">
	            		        <li class="cato-nav-item ">
	                    			<a href="#" >JavaScript</a>
	                			</li>
	                	        <li class="cato-nav-item ">
	                    			<a href="#" data-ct="nodejs">Node.js</a>
	                			</li>
	                	        <li class="cato-nav-item ">
	                    			<a href="#" data-ct="nodejs">Node.js</a>
	                			</li>
	                			<li class="cato-nav-item ">
	                    			<a href="#" data-ct="nodejs">Node.js</a>
	                			</li>
	                			<li class="cato-nav-item ">
	                    			<a href="#" data-ct="nodejs">Node.js</a>
	                			</li>
	                			<li class="cato-nav-item ">
	                    			<a href="#" data-ct="nodejs">Node.js</a>
	                			</li>
	                	    </ul>
	        			</div>
					</div>
				</div>
				<div class="screening-box clearfix">
					<div class="screening-time l">
						<span>
							<a href="#" class="on">默认排序</a>
						</span>
						<span>
							<a>最新</a>
						</span>
						<span>
							<a>销量</a>
						</span>
						<span>
							<a>评价数</a>
						</span>
					</div>
				</div>
				<div class="index-list-wrap">
					<div class="shizhan-course-list">
						<div class="shizhan-course-wrap l">
							<a href="../course/course_detail.html">
								<div class="shizhan-course-box">
									<div class="box">
										<div class="img-box">
											<img src="../../../resources/imgs/course/shizhan1.jpg" class="shizhan-course-img"  alt=" " />
										</div>
										<div class="shizhan-intro-box">
		                            	<p class="shizan-name" title="ThinkPHP5.0+小程序商城构建全栈应用">ThinkPHP5.0+小程序商城构建全栈应用</p>
		                            	<p class="shizan-desc" title="TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API">TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API</p>
										<div class="shizhan-info-bottom">
											<div class="shizhan-info shizhan-info-paddingleft">
												<span>学习人数：</span>												
												<span>158人</span>
											</div>
											<div class="shizhan-info">
												<span>浏览人数：</span>
												<span>562人</span>
											</div>
										</div>
									</div>
		                        </div>
								</div>
							</a>
						</div>
						<div class="shizhan-course-wrap l">
							<a href="../course/course_detail.html">
								<div class="shizhan-course-box">
									<div class="box">
										<div class="img-box">
											<img src="../../../resources/imgs/course/shizhan1.jpg" class="shizhan-course-img"  alt=" " />
										</div>
										<div class="shizhan-intro-box">
		                            	<p class="shizan-name" title="ThinkPHP5.0+小程序商城构建全栈应用">ThinkPHP5.0+小程序商城构建全栈应用</p>
		                            	<p class="shizan-desc" title="TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API">TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API</p>
										<div class="shizhan-info-bottom">
											<div class="shizhan-info shizhan-info-paddingleft">
												<span>学习人数：</span>												
												<span>158人</span>
											</div>
											<div class="shizhan-info">
												<span>浏览人数：</span>
												<span>562人</span>
											</div>
										</div>
									</div>
		                        </div>
								</div>
							</a>
						</div>
						<div class="shizhan-course-wrap l">
							<a href="../course/course_detail.html">
								<div class="shizhan-course-box">
									<div class="box">
										<div class="img-box">
											<img src="../../../resources/imgs/course/shizhan1.jpg" class="shizhan-course-img"  alt=" " />
										</div>
										<div class="shizhan-intro-box">
		                            	<p class="shizan-name" title="ThinkPHP5.0+小程序商城构建全栈应用">ThinkPHP5.0+小程序商城构建全栈应用</p>
		                            	<p class="shizan-desc" title="TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API">TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API</p>
										<div class="shizhan-info-bottom">
											<div class="shizhan-info shizhan-info-paddingleft">
												<span>学习人数：</span>												
												<span>158人</span>
											</div>
											<div class="shizhan-info">
												<span>浏览人数：</span>
												<span>562人</span>
											</div>
										</div>
									</div>
		                        </div>
								</div>
							</a>
						</div>
						<div class="shizhan-course-wrap l">
							<a href="../course/course_detail.html">
								<div class="shizhan-course-box">
									<div class="box">
										<div class="img-box">
											<img src="../../../resources/imgs/course/shizhan1.jpg" class="shizhan-course-img"  alt=" " />
										</div>
										<div class="shizhan-intro-box">
		                            	<p class="shizan-name" title="ThinkPHP5.0+小程序商城构建全栈应用">ThinkPHP5.0+小程序商城构建全栈应用</p>
		                            	<p class="shizan-desc" title="TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API">TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API</p>
										<div class="shizhan-info-bottom">
											<div class="shizhan-info shizhan-info-paddingleft">
												<span>学习人数：</span>												
												<span>158人</span>
											</div>
											<div class="shizhan-info">
												<span>浏览人数：</span>
												<span>562人</span>
											</div>
										</div>
									</div>
		                        </div>
								</div>
							</a>
						</div>
						<div class="shizhan-course-wrap l">
							<a href="../course/course_detail.html">
								<div class="shizhan-course-box">
									<div class="box">
										<div class="img-box">
											<img src="../../../resources/imgs/course/shizhan1.jpg" class="shizhan-course-img"  alt=" " />
										</div>
										<div class="shizhan-intro-box">
		                            	<p class="shizan-name" title="ThinkPHP5.0+小程序商城构建全栈应用">ThinkPHP5.0+小程序商城构建全栈应用</p>
		                            	<p class="shizan-desc" title="TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API">TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API</p>
										<div class="shizhan-info-bottom">
											<div class="shizhan-info shizhan-info-paddingleft">
												<span>学习人数：</span>												
												<span>158人</span>
											</div>
											<div class="shizhan-info">
												<span>浏览人数：</span>
												<span>562人</span>
											</div>
										</div>
									</div>
		                        </div>
								</div>
							</a>
						</div>
						<div class="shizhan-course-wrap l">
							<a href="../course/course_detail.html">
								<div class="shizhan-course-box">
									<div class="box">
										<div class="img-box">
											<img src="../../../resources/imgs/course/shizhan1.jpg" class="shizhan-course-img"  alt=" " />
										</div>
										<div class="shizhan-intro-box">
		                            	<p class="shizan-name" title="ThinkPHP5.0+小程序商城构建全栈应用">ThinkPHP5.0+小程序商城构建全栈应用</p>
		                            	<p class="shizan-desc" title="TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API">TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API</p>
										<div class="shizhan-info-bottom">
											<div class="shizhan-info shizhan-info-paddingleft">
												<span>学习人数：</span>												
												<span>158人</span>
											</div>
											<div class="shizhan-info">
												<span>浏览人数：</span>
												<span>562人</span>
											</div>
										</div>
									</div>
		                        </div>
								</div>
							</a>
						</div>
						<div class="shizhan-course-wrap l">
							<a href="../course/course_detail.html">
								<div class="shizhan-course-box">
									<div class="box">
										<div class="img-box">
											<img src="../../../resources/imgs/course/shizhan1.jpg" class="shizhan-course-img"  alt=" " />
										</div>
										<div class="shizhan-intro-box">
		                            	<p class="shizan-name" title="ThinkPHP5.0+小程序商城构建全栈应用">ThinkPHP5.0+小程序商城构建全栈应用</p>
		                            	<p class="shizan-desc" title="TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API">TP5+小程序+微信支付+MySQL做一套适用于中小型产品的通用RESTFul API</p>
										<div class="shizhan-info-bottom">
											<div class="shizhan-info shizhan-info-paddingleft">
												<span>学习人数:</span>												
												<span>158人</span>
											</div>
											<div class="shizhan-info">
												<span>浏览人数:</span>
												<span>562人</span>
											</div>
										</div>
									</div>
		                        </div>
								</div>
							</a>
						</div>
					</div>
					<div class="page">
						<ul class="star_cont_Page" id="star_cont_Page">
							<li><</li>
							<li style="background-color: #ee4747; color: white;">1</li>
							<li>2</li>
							<li style="margin-right: 0px;">></li>
						</ul>
					</div>
				</div>
			</div>			
		
			<!--footer-->
			<div class="footer">
				<div class="wrap">
					<div class="footer-wrap clearfix">
						<div class="footer-icons-wrap">
							<a href="#" class="footer-icons-weibo" title="微博"></a>
							<a href="#" class="footer-icons-weixin" title="微信"></a>
							<a href="#" class="footer-icons-qqweibo" title="腾讯新闻"></a>
						</div>
						<div class="footer_intro">
							<div class="footer_link">
			                    <ul>
			                         <li><a href="../index/index.html" target="_blank">网站首页</a></li>
			                        <li><a href="../about/about.html" target="_blank" title="企业合作">企业合作</a></li>
			                        <li> <a href="../about/about.html#" target="_blank">联系我们</a></li>
			                        <li> <a href="../about/about.html" target="_blank">讲师招募</a></li>
			                        <li> <a href="../about/about.html" target="_blank">意见反馈</a></li>
			                    </ul>
			                    <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
		                	</div>
						</div>
					</div>
				</div>
			</div>
			<!--//footer-->
		</div>
	</body>
</html>
