<!DOCTYPE HTML>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>创业明星</title>
		<link rel="stylesheet" href="../../../resources/assets/plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../resources/assets/common/css/common.css" />
		<link rel="stylesheet" href="../../../resources/assets/front/css/work/work.css" />
		
		<script src="../../../resources/assets/plugins/jquery.min.js"></script>
		<script src="../../../resources/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../resources/assets/common/js/common.js"></script>
		<script src="../../../resources/assets/front/js/main.js"></script>
	</head>
	<body>
		<div id="index" class="star_wrap">
			<!--导航-->
			<div class="header-wrap">
			<div class="header">
					<div class="logo">
						<a href="../index/index.html">
							<img src="../../../resources/imgs/common/logo2.png" alt="" />
						</a>
					</div>
					<div class="nav">
						<ul>
							<li><a href="../index/index.html " >首页</a></li>
					        <li><a href="../course/course.html" >课程</a></li>
					        <li><a href="../course/class.html">开班信息</a></li>
					        <li><a href="../teacher/teacher.html">专家师资</a></li>
					        <li><a href="../work/work.html" style="color:#ee4747;">学员就业</a></li>
					        <li><a href="../news/news.html">公司新闻</a></li>
					      	<li><a href="../about/about.html" >关于我们</a></li>
						</ul>
					</div>
					
				</div>
		</div>
			<!--//导航-->
			<!--//导航-->
			<div class="star_ban"><img src="../../../resources/imgs/star/star_banner1.jpg"></div>
			<div class="star_cont">
				<ul class="star_cont_H4tit clearfix" id="star_cont_H4tit">
					<li><a href="../work/work.html"style="display: block; color: #ee4747; border-bottom: 2px solid #ee4747;" ><h4>就业明星</h4></a></li>
					<li><a href="../work/work_detail1.html" ><h4>就业感言</h4></a></li>
					<li><a href="../work/work_detail2.html" ><h4>学员风采</h4></a></li>
				</ul>
				<div id="star_cont_dlCard">
					<div class="star_cont_dls">
						<a class="newscontent"  target="_blank" href="work_detail.html">
							<dl id="star_dl1">
								<dd>
									<img src="../../../resources/imgs/star/star_dt1.jpg">
									<p id="star_cont_dls_Blue1">+</p>
								</dd>
								<dt>
								<h5>韩雪田</h5>
								<p class="star_cont_dls_work"><span class="star_cont_dls_work_company">58同城</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="star_cont_dls_work_job">WEB前端工程师</span></p>
								<p class="star_cont_dls_experience" style="display:-webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp:3; overflow: hidden;text-overflow: ellipsis;">三年互联网经验,两年半全职前端开发经验熟悉MV*开发,深谙自动化,模块化开发之道高效的自学能力,具备独立分析解决问题能力强烈的自我驱动力</p>
								</dt>
							</dl>
						</a>
						<a class="newscontent"  target="_blank" href="work_detail.html">
							<dl id="star_dl2">
								<dd>
									<img src="../../../resources/imgs/star/star_dt2.jpg">
									<p id="star_cont_dls_Blue2">+</p>
								</dd>
								<dt>
								<h5>甄瑞芳</h5>
								<p class="star_cont_dls_work"><span class="star_cont_dls_work_company">百度</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="star_cont_dls_work_job">JAVA培训师</span></p>
								<p class="star_cont_dls_experience" style="display:-webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp:3; overflow: hidden;text-overflow: ellipsis;">9年交互体验设计经验，曾服务雅虎、腾讯、搜狐、新浪、民生银行、北京电视台、宽地摄影、北大方正、欧珀莱、贝玲</p>
								</dt>
							</dl>
						</a>
						<a class="newscontent"  target="_blank" href="work_detail.html">
							<dl id="star_dl3" style="margin-right:0px;">
								<dd>
									<img src="../../../resources/imgs/star/star_dt3.jpg">
									<p id="star_cont_dls_Blue3">+</p>
								</dd>
								<dt>
								<h5>崔莎莎</h5>
								<p class="star_cont_dls_work"><span class="star_cont_dls_work_company">腾讯</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="star_cont_dls_work_job">Android开发</span></p>
								<p class="star_cont_dls_experience" style="display:-webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp:3; overflow: hidden;text-overflow: ellipsis;">5年交互体验设计经验，曾服务于北京建筑设计研究院（BIAD）、日本电通、联想集团、凤凰传媒、海尔商城</p>
								</dt>
							</dl>
						</a>
						<a class="newscontent"  target="_blank" href="work_detail.html">
							<dl id="star_dl4">
								<dd>
									<img src="../../../resources/imgs/star/star_dt4.jpg">
									<p id="star_cont_dls_Blue4">+</p>
								</dd>
								<dt>
								<h5>曾媚</h5>
								<p class="star_cont_dls_work"><span class="star_cont_dls_work_company">去哪网</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="star_cont_dls_work_job">WEB美工设计</span></p>
								<p class="star_cont_dls_experience" style="display:-webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp:3; overflow: hidden;text-overflow: ellipsis;">曾服务于天猫商城、悠怡蓝海、南京大学建筑规划设计研究院、节点通等客</p>
								</dt>
							</dl>
						</a>
						<a class="newscontent"  target="_blank" href="work_detail.html">
							<dl id="star_dl5">
								<dd>
									<img src="../../../resources/imgs/star/star_dt5.jpg">
									<p id="star_cont_dls_Blue5">+</p>
								</dd>
								<dt>
								<h5>肖欢</h5>
								<p class="star_cont_dls_work"><span class="star_cont_dls_work_company">驴妈妈</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="star_cont_dls_work_job">APP开发</span></p>
								<p class="star_cont_dls_experience" style="display:-webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp:3; overflow: hidden;text-overflow: ellipsis;">曾服务于润恒集团、汇爱、尚雯婕工作室、ews物流、微播、影时尚、正觉、中天龙等</p>
								</dt>
							</dl>
						</a>
						<a class="newscontent"  target="_blank" href="work_detail.html">
							<dl id="star_dl6" style="margin-right:0px;">
								<dd>
									<img src="../../../resources/imgs/star/star_dt6.jpg">
									<p id="star_cont_dls_Blue6">+</p>
								</dd>
								<dt>
								<h5>张政</h5>
								<p class="star_cont_dls_work"><span class="star_cont_dls_work_company">阿里巴巴</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="star_cont_dls_work_job">WEB前端工程师</span></p>
								<p class="star_cont_dls_experience" style="display:-webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp:3; overflow: hidden;text-overflow: ellipsis;">日本电通、影时尚、宝迪集团、牛扒工厂、悠怡蓝海</p>
								</dt>
							</dl>
						</a>
					</div>
				</div>
				<ul class="star_cont_Page" id="star_cont_Page">
					<li><</li>
					<li style="background-color: #ee4747; color: white;">1</li>
					<li>2</li>
					<li style="margin-right: 0px;">></li>
				</ul>
			</div>

			
			<!--footer-->
			<div class="footer defaultFoot">
			<div class="wrap">
				<div class="footer-wrap clearfix">
					<div class="footer-icons-wrap">
						<a href="#" class="footer-icons-weibo" title="微博"></a>
						<a href="#" class="footer-icons-weixin" title="微信"></a>
						<a href="#" class="footer-icons-qqweibo" title="腾讯新闻"></a>
					</div>
					<div class="footer_intro">
						<div class="footer_link">
		                    <ul>
		                        <li><a href="../index/index.html" target="_blank">网站首页</a></li>
			                        <li><a href="../about/about.html" target="_blank" title="企业合作">企业合作</a></li>
			                        <li> <a href="../about/about.html#" target="_blank">联系我们</a></li>
			                        <li> <a href="../about/about.html" target="_blank">讲师招募</a></li>
			                        <li> <a href="../about/about.html" target="_blank">意见反馈</a></li>
		                    </ul>
		                    <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
	                	</div>
					</div>
				</div>
				
			</div>
		</div>
			<!--//footer-->
			</div>
		<!--//footer-->
	</body>
</html>
