<!DOCTYPE HTML>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>就业感言</title>
	</head>
		<link rel="stylesheet" href="../../../resources/assets/plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../resources/assets/common/css/common.css" />
		<link rel="stylesheet" href="../../../resources/assets/front/css/work/work.css" />
		
		<script src="../../../resources/assets/plugins/jquery.min.js"></script>
		<script src="../../../resources/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../resources/assets/common/js/common.js"></script>
		<script src="../../../resources/assets/front/js/main.js"></script>
	<body>
		<!--导航-->
		<div class="header-wrap">
			<div class="header">
					<div class="logo">
						<a href="../index/index.html">
							<img src="../../../resources/imgs/common/logo2.png" alt="" />
						</a>
					</div>
					<div class="nav">
						<ul>
							<li><a href="../index/index.html " >首页</a></li>
					        <li><a href="../course/course.html" >课程</a></li>
					        <li><a href="../course/class.html">开班信息</a></li>
					        <li><a href="../teacher/teacher.html">专家师资</a></li>
					        <li><a href="../work/work.html" style="color:#ee4747;">学员就业</a></li>
					        <li><a href="../news/news.html">公司新闻</a></li>
					      	<li><a href="../about/about.html" >关于我们</a></li>
						</ul>
					</div>
					
				</div>
		</div>
		<!--//导航-->
		<div class="star_ban"><img src="../../../resources/imgs/star/star_banner1.jpg"></div>
		<!--就业感言banner-->
		<div class="star_cont">
				<ul class="star_cont_H4tit clearfix" id="star_cont_H4tit">
					<li><a href="../work/work.html" ><h4>就业明星</h4></a></li>
					<li><a href="../work/work_detail1.html" ><h4>就业感言</h4></a></li>
					<li><a href="../work/work_detail2.html" style="display: block; color: #ee4747; border-bottom: 2px solid #ee4747;" ><h4>学员风采</h4></a></li>
				</ul>
		</div>
		<!--//就业感言banner-->
		<div class="student_like">
			<ul>
				<li>
					<dl>
						<dt>
							<img src="../../../resources/imgs/star/pic1.jpg" alt="" />
						</dt>
						<dd>
							<p class="name">梅萌<span>启迪控股董事长</span></p>
							<p class="description">
								现任清华科技园发展中心主任，启迪控股股份有限公司荣誉董事长，清华大学启迪创新研究院副院长，中关村产业技术创新联盟联席会会长。自1994年起，受命创办
								清华科技园，自此一直从事清华科技园的建设和管理工作，对中国大学科技园的建设和发展、产学研合作等问题有着全面而深入的研究和丰富的实践经验。
								现任清华科技园发展中心主任，启迪控股股份有限公司荣誉董事长，清华大学启迪创新研究院副院长，中关村产业技术创新联盟联席会会长。自1994年起，受命创办
								清华科技园，自此一直从事清华科技园的建设和管理工作，对中国大学科技园的建设和发展、产学研合作等问题有着全面而深入的研究和丰富的实践经验。
							</p>
							<a href="####" class="more">查看更多 &gt;</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../../resources/imgs/star/pic1.jpg" alt="" />
						</dt>
						<dd>
							<p class="name">梅萌<span>启迪控股董事长</span></p>
							<p class="description">
								现任清华科技园发展中心主任，启迪控股股份有限公司荣誉董事长，清华大学启迪创新研究院副院长，中关村产业技术创新联盟联席会会长。自1994年起，受命创办
								清华科技园，自此一直从事清华科技园的建设和管理工作，对中国大学科技园的建设和发展、产学研合作等问题有着全面而深入的研究和丰富的实践经验。
								现任清华科技园发展中心主任，启迪控股股份有限公司荣誉董事长，清华大学启迪创新研究院副院长，中关村产业技术创新联盟联席会会长。自1994年起，受命创办
								清华科技园，自此一直从事清华科技园的建设和管理工作，对中国大学科技园的建设和发展、产学研合作等问题有着全面而深入的研究和丰富的实践经验。
							</p>
							<a href="####" class="more">查看更多 &gt;</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../../resources/imgs/star/pic1.jpg" alt="" />
						</dt>
						<dd>
							<p class="name">梅萌<span>启迪控股董事长</span></p>
							<p class="description">
								现任清华科技园发展中心主任，启迪控股股份有限公司荣誉董事长，清华大学启迪创新研究院副院长，中关村产业技术创新联盟联席会会长。自1994年起，受命创办
								清华科技园，自此一直从事清华科技园的建设和管理工作，对中国大学科技园的建设和发展、产学研合作等问题有着全面而深入的研究和丰富的实践经验。
								现任清华科技园发展中心主任，启迪控股股份有限公司荣誉董事长，清华大学启迪创新研究院副院长，中关村产业技术创新联盟联席会会长。自1994年起，受命创办
								清华科技园，自此一直从事清华科技园的建设和管理工作，对中国大学科技园的建设和发展、产学研合作等问题有着全面而深入的研究和丰富的实践经验。
							</p>
							<a href="####" class="more">查看更多 &gt;</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../../resources/imgs/star/pic1.jpg" alt="" />
						</dt>
						<dd>
							<p class="name">梅萌<span>启迪控股董事长</span></p>
							<p class="description">
								现任清华科技园发展中心主任，启迪控股股份有限公司荣誉董事长，清华大学启迪创新研究院副院长，中关村产业技术创新联盟联席会会长。自1994年起，受命创办
								清华科技园，自此一直从事清华科技园的建设和管理工作，对中国大学科技园的建设和发展、产学研合作等问题有着全面而深入的研究和丰富的实践经验。
								现任清华科技园发展中心主任，启迪控股股份有限公司荣誉董事长，清华大学启迪创新研究院副院长，中关村产业技术创新联盟联席会会长。自1994年起，受命创办
								清华科技园，自此一直从事清华科技园的建设和管理工作，对中国大学科技园的建设和发展、产学研合作等问题有着全面而深入的研究和丰富的实践经验。
							</p>
							<a href="####" class="more">查看更多 &gt;</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../../resources/imgs/star/pic1.jpg" alt="" />
						</dt>
						<dd>
							<p class="name">梅萌<span>启迪控股董事长</span></p>
							<p class="description">
								现任清华科技园发展中心主任，启迪控股股份有限公司荣誉董事长，清华大学启迪创新研究院副院长，中关村产业技术创新联盟联席会会长。自1994年起，受命创办
								清华科技园，自此一直从事清华科技园的建设和管理工作，对中国大学科技园的建设和发展、产学研合作等问题有着全面而深入的研究和丰富的实践经验。
								现任清华科技园发展中心主任，启迪控股股份有限公司荣誉董事长，清华大学启迪创新研究院副院长，中关村产业技术创新联盟联席会会长。自1994年起，受命创办
								清华科技园，自此一直从事清华科技园的建设和管理工作，对中国大学科技园的建设和发展、产学研合作等问题有着全面而深入的研究和丰富的实践经验。
							</p>
							<a href="####" class="more">查看更多 &gt;</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<img src="../../../resources/imgs/star/pic1.jpg" alt="" />
						</dt>
						<dd>
							<p class="name">梅萌<span>启迪控股董事长</span></p>
							<p class="description">
								现任清华科技园发展中心主任，启迪控股股份有限公司荣誉董事长，清华大学启迪创新研究院副院长，中关村产业技术创新联盟联席会会长。自1994年起，受命创办
								清华科技园，自此一直从事清华科技园的建设和管理工作，对中国大学科技园的建设和发展、产学研合作等问题有着全面而深入的研究和丰富的实践经验。
								现任清华科技园发展中心主任，启迪控股股份有限公司荣誉董事长，清华大学启迪创新研究院副院长，中关村产业技术创新联盟联席会会长。自1994年起，受命创办
								清华科技园，自此一直从事清华科技园的建设和管理工作，对中国大学科技园的建设和发展、产学研合作等问题有着全面而深入的研究和丰富的实践经验。
							</p>
							<a href="####" class="more">查看更多 &gt;</a>
						</dd>
					</dl>
				</li>

			</ul>
		</div>
		<!--就业感言内容-->
		<div class="gratitude_contents">
			<ul class="star_cont_Page student_page" id="star_cont_Page">
				<li><</li>
				<li style="background-color: #ee4747; color: white;">1</li>
				<li>2</li>
				<li style="margin-right: 0px;">></li>
			</ul>
		</div>
		<!--//就业感言内容-->
		<!--footer-->
		<div class="footer">
			<div class="wrap">
				<div class="footer-wrap clearfix">
					<div class="footer-icons-wrap">
						<a href="#" class="footer-icons-weibo" title="微博"></a>
						<a href="#" class="footer-icons-weixin" title="微信"></a>
						<a href="#" class="footer-icons-qqweibo" title="腾讯新闻"></a>
					</div>
					<div class="footer_intro">
						<div class="footer_link">
		                    <ul>
		                         <li><a href="../index/index.html" target="_blank">网站首页</a></li>
			                        <li><a href="../about/about.html" target="_blank" title="企业合作">企业合作</a></li>
			                        <li> <a href="../about/about.html#" target="_blank">联系我们</a></li>
			                        <li> <a href="../about/about.html" target="_blank">讲师招募</a></li>
			                        <li> <a href="../about/about.html" target="_blank">意见反馈</a></li>
		                    </ul>
		                    <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
	                	</div>
					</div>
				</div>
			</div>
		</div>
		<!--//footer-->
	</body>
</html>
