<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>关于我们</title>
		<link rel="stylesheet" href="../../../resources/assets/plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../resources/assets/common/css/common.css" />
		<link rel="stylesheet" href="../../../resources/assets/front/css/about/about.css" />
		
		<script src="../../../resources/assets/plugins/jquery.min.js"></script>
		<script src="../../../resources/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../resources/assets/common/js/common.js"></script>
	</head>
	<body>
		<div class="header-wrap">
				<div class="header">
					<div class="logo">
						<a href="../index/index.html">
							<img src="../../../resources/imgs/common/logo2.png" alt="" />
						</a>
					</div>
					<div class="nav">
						<ul>
							<li><a href="../index/index.html " >首页</a></li>
					        <li><a href="../course/course.html" >课程</a></li>
					        <li><a href="../course/class.html">开班信息</a></li>
					        <li><a href="../teacher/teacher.html">专家师资</a></li>
					        <li><a href="../work/work.html">学员就业</a></li>
					        <li><a href="../news/news.html">公司新闻</a></li>
					      	<li><a href="../about/about.html" style="color:#ee4747;">关于我们</a></li>
						</ul>
					</div>
					
				</div>
		</div>
		<div class="about-wrap clearfix">
			<div class="about ">
				<div class="left">
					<ul>
						<li><a class="selected" href="#">关于我们</a></li>
						<li><a href="#">加入我们</a></li>
						<li><a href="#">联系我们</a></li>
					</ul>
				</div>
				<div class="right-wrap">
					<div class="right">
						<h1>关于我们</h1>
						<dl class="us-list">
							<dt>什么是慕课（MOOC）</dt>
							<dd>源于国外，Massive（大规模）Open（开放）Online（在线）Course（课程）。</dd>
							<dt>慕课网是什么MOOC</dt>
							<dd>专注做好IT技能教育的MOOC，符合互联网发展潮流接地气儿的MOOC。我们免费，我们只教有用的，我们专心做教育。</dd>
							<dt>为什么做慕课网</dt>
							<dd>慕课网的小伙伴希望所有热爱互联网的同学能更加便捷的获取学习资源，用互联网思维改变我们的学习。<br>我们提供最新的知识，帮你应对变化的世界！</dd>
							<dt>慕课网在做什么</dt>
							<dd>做更多实用的课程，做更好体验的产品，研究更牛的技术！</dd>
							<dt>慕课网的追求是什么</dt>
							<dd>让更多热爱互联网的同学来慕课网学习，多年以后，圈子里一批技术牛说：我在慕课网学习过，这就够了。</dd>
							<dt>慕课网有移动端吗</dt>
							<dd>
								有啊，手机端、iPad版请扫描下方二维码下载
								<div class="us-app-wrap clearfix">
									<div class="us-app-qr us-app-mobile l">
							          <div class="qr-img qr-img-mobile"></div>
							          <a href="#" class="us-qr-link us-qr-ios">iPhone</a>
							          <a href="#" class="us-qr-link us-qr-android">Android</a>
							        </div>
							        <div class="us-app-split l"></div>
							        <div class="us-app-qr l">
							          <div class="qr-img qr-img-mobile"></div>
							          <a href="#" class="us-qr-link us-qr-ios">iPad</a>
							        </div>
								</div>
							</dd>
						</dl>
					</div>
					<div class="right">
						<h1>讲师招募</h1>
						<div class="space-side">
							<p>想试水尝尝网络讲师的滋味？快加入慕课网讲师队伍吧！</p>
							<div class="job-block">
								<h2>我们希望你</h2>
								<ol>
									<li>-&nbsp;热衷分享；</li>
									<li>-&nbsp;有3年以上的大型项目开发经验；</li>
									<li>-&nbsp;有3年以上的大型项目开发经验；</li>
								</ol>
								<h2>你的收获：</h2>
								<ol>
						            <li>-&nbsp;额外收入；</li>
						            <li>-&nbsp;技术的沉淀与分享；</li>
						            <li>-&nbsp;迅速增长的粉丝及业内知名度；</li>
						        </ol>
								<br />
								<a href="#">立即加入</a>
							</div>
						</div>
					</div>
					<div class="right">
						<h1>联系我们</h1>
						<ul class="other-contact clearfix">
							<li>
					         	<h1>企业合作&amp;讲师招募</h1>
					         	<h2>成同学</h2>
					         	<p>
						            QQ：792585394<br>
						            E-mail：chengjl@imooc.com
					         	</p>
					      	</li>
					      	<li class="contact-right">
						        <h1>文章投稿</h1>
						        <h2>慕同学</h2>
						        <p>
						            QQ：105980914<br>
						            <br>
						        </p>
						    </li>
							<li>
						         <h1>人才招聘</h1>
						         <h2>武同学</h2>
						         <p>
						            QQ：842622281<br>
						            E-mail：wubinhua@imooc.com
						         </p>
						    </li>
							<li class="contact-right">
					         	<h1>公司地址</h1>
					         	<h2>北京市西城区德外大街10号</h2>
					         	<p style="padding-bottom:92px;"></p>
					      	</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<div class="wrap">
				<div class="footer-wrap clearfix">
					<div class="footer-icons-wrap">
						<a href="#" class="footer-icons-weibo" title="微博"></a>
						<a href="#" class="footer-icons-weixin" title="微信"></a>
						<a href="#" class="footer-icons-qqweibo" title="腾讯新闻"></a>
					</div>
					<div class="footer_intro">
						<div class="footer_link">
		                    <ul>
		                        <li><a href="../index/index.html" target="_blank">网站首页</a></li>
			                        <li><a href="../about/about.html" target="_blank" title="企业合作">企业合作</a></li>
			                        <li> <a href="../about/about.html#" target="_blank">联系我们</a></li>
			                        <li> <a href="../about/about.html" target="_blank">讲师招募</a></li>
			                        <li> <a href="../about/about.html" target="_blank">意见反馈</a></li>
		                    </ul>
		                    <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2
		                    	
		                    </p>
	                	</div>
					</div>
				</div>
				
			</div>
		</div>
	</body>
	<script type="text/javascript">
		window.onload=function(){
			$(function(){
				$(".left a").each(function(i){
					$(".left a").eq(i).click(function(){
						$(".left a").removeClass("selected")
						$(".left a").eq(i).addClass("selected");
						$(".right-wrap .right").hide();
						$(".right-wrap .right").eq(i).show();
					})
				})
			})
			$(".right-wrap .right").eq(0).show();
			$(".search input").focus(function(){
				$(".search input").val("");
				$(".search input").css("color","rgba(244,244,244,1)");				
			})
			$(".search input").blur(function(){
				$(".search input").val("请输入");
				$(".search input").css("color","rgba(244,244,244,.3)");					
			})
		}
	</script>
</html>
