<!DOCTYPE HTML>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>就业感言</title>
		<link rel="stylesheet" href="../../../resources/assets/plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../resources/assets/common/css/common.css" />
		<link rel="stylesheet" href="../../../resources/assets/front/css/student/student.css" />
		
		
		<script src="../../../resources/assets/plugins/jquery.min.js"></script>
		<script src="../../../resources/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../resources/assets/common/js/common.js"></script>
		<script src="../../../resources/assets/front/js/main.js"></script>
	</head>
	<body>
		<!--导航-->
		<div class="header-wrap">
			<div class="header">
					<div class="logo">
						<a href="../index/index.html">
							<img src="../../../resources/imgs/common/logo2.png" alt="" />
						</a>
					</div>
					<div class="nav">
						<ul>
							<li><a href="../index/index.html " >首页</a></li>
					        <li><a href="../course/course.html" >课程</a></li>
					        <li><a href="../course/class.html">开班信息</a></li>
					        <li><a href="../teacher/teacher.html">专家师资</a></li>
					        <li><a href="../work/work.html" style="color:#ee4747;">学员就业</a></li>
					        <li><a href="../news/news.html">公司新闻</a></li>
					      	<li><a href="../about/about.html" >关于我们</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			<div class="clearfix top_height"></div>
			
		<!--//导航-->
		<!--就业感言banner-->
		<div class="gratitude_banner">
			<div class="banner"></div>
		</div>
		<!--//就业感言banner-->
		<!--就业感言内容-->
		<div class="gratitude_contents">
			<div class="wrap">
				<div class="gratitude_contents_item">
					<a>
						<div class="pic">
							<img src="../../../resources/imgs/student/pic1.jpg" alt="" title="">
						</div>
					</a>
					<div class="info">
						<p class="title">
							向里
						</p>
						<em class="subtitle">入职百度公司</em>
						<p class="discription">
							余立先生是翰时建筑设计(A&S)
							的总设计师， 有近四十年的国内
							外从业经验，他在各类项目的总体
							规划、项目任务书和建筑设计方面具有丰富实践经验和专业
							余立先生是翰时建筑设计(A&S)
							的总设计师， 有近四十年的国内
							外从业经验，他在各类项目的总体
							规划、项目任务书和建筑设计方面具有丰富实践经验和专业
						</p>
					</div>
				</div>
				<div class="gratitude_contents_item">
					<a>
						<div class="pic">
							<img src="../../../resources/imgs/student/pic1.jpg" alt="" title="">
						</div>
					</a>
					<div class="info">
						<p class="title">
							向里
						</p>
						<em class="subtitle">入职百度公司</em>
						<p class="discription">
							余立先生是翰时建筑设计(A&S)
							的总设计师， 有近四十年的国内
							外从业经验，他在各类项目的总体
							规划、项目任务书和建筑设计方面具有丰富实践经验和专业
							余立先生是翰时建筑设计(A&S)
							的总设计师， 有近四十年的国内
							外从业经验，他在各类项目的总体
							规划、项目任务书和建筑设计方面具有丰富实践经验和专业
						</p>
					</div>
				</div>
				<div class="gratitude_contents_item">
					<a>
						<div class="pic">
							<img src="../../../resources/imgs/student/pic1.jpg" alt="" title="">
						</div>
					</a>
					<div class="info">
						<p class="title">
							向里
						</p>
						<em class="subtitle">入职百度公司</em>
						<p class="discription">
							余立先生是翰时建筑设计(A&S)
							的总设计师， 有近四十年的国内
							外从业经验，他在各类项目的总体
							规划、项目任务书和建筑设计方面具有丰富实践经验和专业
							余立先生是翰时建筑设计(A&S)
							的总设计师， 有近四十年的国内
							外从业经验，他在各类项目的总体
							规划、项目任务书和建筑设计方面具有丰富实践经验和专业
						</p>
					</div>
				</div>
				<div class="gratitude_contents_item">
					<a>
						<div class="pic">
							<img src="../../../resources/imgs/student/pic1.jpg" alt="" title="">
						</div>
					</a>
					<div class="info">
						<p class="title">
							向里
						</p>
						<em class="subtitle">入职百度公司</em>
						<p class="discription">
							余立先生是翰时建筑设计(A&S)
							的总设计师， 有近四十年的国内
							外从业经验，他在各类项目的总体
							规划、项目任务书和建筑设计方面具有丰富实践经验和专业
							余立先生是翰时建筑设计(A&S)
							的总设计师， 有近四十年的国内
							外从业经验，他在各类项目的总体
							规划、项目任务书和建筑设计方面具有丰富实践经验和专业
						</p>
					</div>
				</div>
				<div class="gratitude_contents_item">
					<a>
						<div class="pic">
							<img src="../../../resources/imgs/student/pic1.jpg" alt="" title="">
						</div>
					</a>
					<div class="info">
						<p class="title">
							向里
						</p>
						<em class="subtitle">入职百度公司</em>
						<p class="discription">
							余立先生是翰时建筑设计(A&S)
							的总设计师， 有近四十年的国内
							外从业经验，他在各类项目的总体
							规划、项目任务书和建筑设计方面具有丰富实践经验和专业
							余立先生是翰时建筑设计(A&S)
							的总设计师， 有近四十年的国内
							外从业经验，他在各类项目的总体
							规划、项目任务书和建筑设计方面具有丰富实践经验和专业
						</p>
					</div>
				</div>
				<div class="gratitude_contents_item">
					<a>
						<div class="pic">
							<img src="../../../resources/imgs/student/pic1.jpg" alt="" title="">
						</div>
					</a>
					<div class="info">
						<p class="title">
							向里
						</p>
						<em class="subtitle">入职百度公司</em>
						<p class="discription">
							余立先生是翰时建筑设计(A&S)
							的总设计师， 有近四十年的国内
							外从业经验，他在各类项目的总体
							规划、项目任务书和建筑设计方面具有丰富实践经验和专业
							余立先生是翰时建筑设计(A&S)
							的总设计师， 有近四十年的国内
							外从业经验，他在各类项目的总体
							规划、项目任务书和建筑设计方面具有丰富实践经验和专业
						</p>
					</div>
				</div>
				<div style="clear: both;"></div>
			</div>
			<div class="gratitude_paging">
				<a href="#">上页</a>
				<a href="#" class="active">1</a>
				<a href="#">2</a>
				<a href="#">...</a>
				<a href="#">99</a>
				<a href="#">下页</a>
			</div>
			<div class="gratitude_contents_footer">
				<h2>「 我们要培养知识技能实践兼备的优秀人才！」</h2>
				<p>没有产品思维、不懂项目管理、只会画原型图配合执行工作…这就是目前产品经理培训的现状现状现状。<br>
				我们认为真正的产品经理应该是用产品思维来规划产品设计、推动项目进程、实现产品价值的人现状现状。
				</p>
			</div>
		</div>
		<!--//就业感言内容-->
		<!--就业感言详情-->
		<div class="gratitude_modal-mask"></div>
		<div class="gratitude_details">
			<div class="gratitude_contents_item">
				<a href="">
					<div class="pic">
						<img src="../../../resources/imgs/student/pic1.jpg" alt="" title="">
					</div>
				</a>
				<div class="info">
					<p class="title">
						
					</p>
					<p class="subtitle"></p>
					<p class="discription">
						
					</p>
				</div>
			</div>
			<div class="off">x</div>
		</div>
		<!--footer-->
		<div class="footer">
			<div class="wrap">
				<div class="footer-wrap clearfix">
					<div class="footer-icons-wrap">
						<a href="#" class="footer-icons-weibo" title="微博"></a>
						<a href="#" class="footer-icons-weixin" title="微信"></a>
						<a href="#" class="footer-icons-qqweibo" title="腾讯新闻"></a>
					</div>
					<div class="footer_intro">
						<div class="footer_link">
		                    <ul>
		                        <li><a href="#" target="_blank">网站首页</a></li>
		                        <li><a href="#" target="_blank" title="企业合作">企业合作</a></li>
		                        <li><a href="#" target="_blank">人才招聘</a></li>
		                        <li> <a href="#" target="_blank">联系我们</a></li>
		                        <li> <a href="#" target="_blank">讲师招募</a></li>
		                        <li> <a href="#" target="_blank">常见问题</a></li>
		                        <li> <a href="#" target="_blank">意见反馈</a></li>
		                        <li> <a href="#" target="_blank">友情链接</a></li>
		                       <!--  <li><a href="/corp/index" target="_blank">合作专区</a></li>
		                        <li><a href="/about/us" target="_blank">关于我们</a></li> -->
		                    </ul>
		                    <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
	                	</div>
					</div>
				</div>
			</div>
		</div>
		<!--//footer-->
	</body>
</html>
