<!DOCTYPE HTML>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>长光工程师</title>
		<link rel="stylesheet" href="../../../resources/assets/plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../resources/assets/common/css/common.css" />
		<link rel="stylesheet" href="../../../resources/assets/front/css/index/index.css" />	
		<script src="../../../resources/assets/plugins/jquery.min.js"></script>
		<script src="../../../resources/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../resources/assets/common/js/common.js"></script>
		<script src="../../../resources/assets/front/js/main.js" ></script>
	</head>
	<body>
		<div id="index">
			<!--导航-->
			<div class="header-wrap new_header">
				<div class="header">
					<div class="logo">
						<a href="../index/index.html">
							<img src="../../../resources/imgs/common/logo1.png" alt="" />
						</a>
					</div>
					<div class="nav">
						<ul>
							<li><a href="../index/index.html " style="color:#ee4747;">首页</a></li>
					        <li><a href="../course/course.html" >课程</a></li>
					        <li><a href="../course/class.html">开班信息</a></li>
					        <li><a href="../teacher/teacher.html">专家师资</a></li>
					        <li><a href="../work/work.html">学员就业</a></li>
					        <li><a href="../news/news.html">公司新闻</a></li>
					      	<li><a href="../about/about.html" >关于我们</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			<!--//导航-->
			<div class="main">
				<div class="bg"></div>
				<div class="g-banner">
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
					  </ol>
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					    <div class="item active">
					      <img src="../../../resources/imgs/index/banner1.jpg" alt="...">
					    </div>
					    <div class="item">
					      <img src="../../../resources/imgs/index/banner2.jpg" alt="...">
					    </div>
					    <div class="item">
					     <img src="../../../resources/imgs/index/banner3.jpg" alt="...">
					    </div>
					  </div>
					  <!-- Controls -->
					  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					  <ul >
					  	<li class="class_list">
					  		<a href="#">机械设计<span class="glyphicon glyphicon-menu-right"></span></a>
					  		<div class="submenu">
					  			<div class="sub-inner">
					  				<div class="title">分类目录</div>
					  			</div>
					  			<div class="case-box">
					  				<div class="basic">
					  					<span>基础：</span>
					  					<a href="../course/course.html">HTML/CSS</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Javascript</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Jquery</a>
					  				</div>
					  				<div class="advance">
					  					<span>进阶：</span>
					  					<a href="../course/course.html">HTML5</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">CSS3</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Node.js</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Angularjs</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Bootstrap</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Web/app</a>
					  				</div>
					  			</div>
					  			<div class="recomment-box">
					  				<div class="title">
					  					课程推荐
					  				</div>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  			</div>
					  		</div>
					  	</li>
					  	<li class="class_list">
					  		<a href="#">光学设计<span class="glyphicon glyphicon-menu-right"></span></a>
					  		<div class="submenu">
					  			<div class="sub-inner">
					  				<div class="title">分类目录</div>
					  			</div>
					  			<div class="case-box">
					  				<div class="basic">
					  					<span>基础：</span>
					  					<a href="../course/course.html">HTML/CSS</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Javascript</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Jquery</a>
					  				</div>
					  				<div class="advance">
					  					<span>进阶：</span>
					  					<a href="../course/course.html">HTML5</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">CSS3</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Node.js</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Angularjs</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Bootstrap</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Web/app</a>
					  				</div>
					  			</div>
					  			<div class="recomment-box">
					  				<div class="title">
					  					课程推荐
					  				</div>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  			</div>
					  		</div>

					  	</li>
					  	<li class="class_list">
					  		<a href="#">C++<span class="glyphicon glyphicon-menu-right"></span></a>
					  		<div class="submenu">
					  			<div class="sub-inner">
					  				<div class="title">分类目录</div>
					  			</div>
					  			<div class="case-box">
					  				<div class="basic">
					  					<span>基础：</span>
					  					<a href="../course/course.html">HTML/CSS</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Javascript</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Jquery</a>
					  				</div>
					  				<div class="advance">
					  					<span>进阶：</span>
					  					<a href="../course/course.html">HTML5</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">CSS3</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Node.js</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Angularjs</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Bootstrap</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Web/app</a>
					  				</div>
					  			</div>
					  			<div class="recomment-box">
					  				<div class="title">
					  					课程推荐
					  				</div>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  			</div>
					  		</div>

					  	</li>
					  	<li class="class_list">
					  		<a href="#">嵌入式设计<span class="glyphicon glyphicon-menu-right"></span></a>
					  		<div class="submenu">
					  			<div class="sub-inner">
					  				<div class="title">分类目录</div>
					  			</div>
					  			<div class="case-box">
					  				<div class="basic">
					  					<span>基础：</span>
					  					<a href="../course/course.html">HTML/CSS</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Javascript</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Jquery</a>
					  				</div>
					  				<div class="advance">
					  					<span>进阶：</span>
					  					<a href="../course/course.html">HTML5</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">CSS3</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Node.js</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Angularjs</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Bootstrap</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Web/app</a>
					  				</div>
					  			</div>
					  			<div class="recomment-box">
					  				<div class="title">
					  					最新开课
					  				</div>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">嵌入式设计</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  			</div>
					  		</div>

					  	</li>
					  	<li class="class_list">
					  		<a href="#">公众课程<span class="glyphicon glyphicon-menu-right"></span></a>
					  		<div class="submenu">
					  			<div class="sub-inner">
					  				<div class="title">分类目录</div>
					  			</div>
					  			<div class="case-box">
					  				<div class="basic">
					  					<span>基础：</span>
					  					<a href="../course/course.html">HTML/CSS</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Javascript</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Jquery</a>
					  				</div>
					  				<div class="advance">
					  					<span>进阶：</span>
					  					<a href="../course/course.html">HTML5</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">CSS3</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Node.js</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Angularjs</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Bootstrap</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Web/app</a>
					  				</div>
					  			</div>
					  			<div class="recomment-box">
					  				<div class="title">
					  					课程推荐
					  				</div>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  			</div>
					  		</div>

					  	</li>
					  	<li class="class_list">
					  		<a href="#">全部<span class="glyphicon glyphicon-menu-right"></span></a>
					  		<div class="submenu">
					  			<div class="sub-inner">
					  				<div class="title">分类目录</div>
					  			</div>
					  			<div class="case-box">
					  				<div class="basic">
					  					<span>基础：</span>
					  					<a href="../course/course.html">HTML/CSS</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Javascript</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Jquery</a>
					  				</div>
					  				<div class="advance">
					  					<span>进阶：</span>
					  					<a href="../course/course.html">HTML5</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">CSS3</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Node.js</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Angularjs</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Bootstrap</a>
					  					<span class="ml10">/</span>
					  					<a href="../course/course.html">Web/app</a>
					  				</div>
					  			</div>
					  			<div class="recomment-box">
					  				<div class="title">
					  					课程推荐
					  				</div>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  				<p class="path-recom">
					  					<a href="../course/course_detail.html">
					  						<span class="cate-tag">职业路径</span>
					  						前端小白入门手册
					  					</a>
					  				</p>
					  			</div>
					  		</div>
					  	</li>
					  </ul>
					</div>
				</div>
				<div class="path-banner">
					<a href="../advantage/advantage.html">
						<div class="left">
							<img src="../../../resources/imgs/index/icon11.jpg" alt="" title="">
						</div>
						<div class="right">
							<h3>品牌优势</h3>
							<p>品牌优势助你成功</p>
						</div>
					</a>
					<a href="../advantage/advantage.html">
						<div class="left">
							<img src="../../../resources/imgs/index/icon44.jpg" alt="" title="">
						</div>
						<div class="right">
							<h3>师资优势</h3>
							<p>优秀的师资助你更加成功</p>
						</div>
					</a>
					<a href="../advantage/advantage.html">
						<div class="left">
							<img src="../../../resources/imgs/index/icon55.jpg" alt="" title="">
						</div>
						<div class="right">
							<h3>设备优势</h3>
							<p>创意、流程、执行缺一不可</p>
						</div>
					</a>
					<a href="../advantage/advantage.html">
						<div class="left">
							<img src="../../../resources/imgs/index/icon22.jpg" alt="" title="">
						</div>
						<div class="right">
							<h3>实训优势</h3>
							<p>实训的力量大于你的想象</p>
						</div>
					</a>
					<a href="../advantage/advantage.html" class="no-border">
						<div class="left">
							<img src="../../../resources/imgs/index/icon33.jpg" alt="" title="">
						</div>
						<div class="right">
							<h3>实习优势</h3>
							<p>创意、流程、执行缺一不可</p>
						</div>
					</a>
				</div>
				<!--优质课程-->
				<div class="goodclass container-type">
					<div class="container-title">
						<h3>优质课程</h3>
						<a href="../course/course.html">
							<span>更多</span>>
						</a>
					</div>
					<div class="container-contents">
						<div class="container-contents-left">
							<div class="top">
								<div class="class-left-top class-num-top">
										<i></i>
										<em>开班信息</em>
								</div>
								<div class="class-num-contents">
										<h3 class="name color">算法与数据结构C++精解</h3>
										<p>算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解</p>
								</div>
								<div class="class-num-bottom">
									<p class="class-data">开课日期：2017-7-7</p>
									<p class="class-num" >112人已报名</p>
								</div>
							</div>
							<div class="bottom">
								<ul class="clearfix">
									<li>
										<a href="../course/course_detail.html">
											<h3>算法与数据结构C++精解算法与数据</h3>
											<p class="class-data">开课日期：2017-7-7</p>
											<p class="class-num" >112人已报名</p>
										</a>													
									</li>
									<li>
										<a href="../course/course_detail.html">
											<h3>算法与数据结构C++精解算法与数据</h3>
											<p class="class-data">开课日期：2017-7-7</p>
											<p class="class-num" >112人已报名</p>
										</a>													
									</li>
									<li class="noborder">
										<a href="../course/course_detail.html">
											<h3>算法与数据结构C++精解算法与数据</h3>
											<p class="class-data">开课日期：2017-7-7</p>
											<p class="class-num" >112人已报名</p>
										</a>													
									</li>
								</ul>
							</div>
						</div>
						<div class="container-contents-right">
							<div class="class-num only-num add-margin-bottom">
								<a href="../course/course_detail.html">
									<div class="class-num-top class-num1">
										<i></i>
										<em>C++</em>
									</div>
									<div class="class-num-contents">
										<h3 class="name">算法与数据结构C++精解</h3>
										<p>算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解</p>
									</div>
									<div class="class-num-bottom">
										<div class="class-people">112人在学</div>
										<div class="class-price">￥110.00</div>
									</div>
								</a>
							</div>
							<div class="class-num only-num add-margin-bottom">
								<a href="../course/course_detail.html">
									<div class="class-num-top class-num2">
										<i></i>
										<em>C++</em>
									</div>
									<div class="class-num-contents">
										<h3 class="name">算法与数据结构C++精解</h3>
										<p>算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解</p>
									</div>
									<div class="class-num-bottom">
										<div class="class-people">112人在学</div>
										<div class="class-price">￥110.00</div>
									</div>
								</a>
							</div>
							<div class="class-num only-num add-margin-bottom">
								<a href="../course/course_detail.html">
									<div class="class-num-top class-num3">
										<i></i>
										<em>C++</em>
									</div>
									<div class="class-num-contents">
										<h3 class="name">算法与数据结构C++精解</h3>
										<p>算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解</p>
									</div>
									<div class="class-num-bottom">
										<div class="class-people">112人在学</div>
										<div class="class-price">￥110.00</div>
									</div>
								</a>
							</div>
							<div class="class-num only-num no-margin add-margin-bottom">
								<a href="../course/course_detail.html">
									<div class="class-num-top class-num4">
										<i></i>
										<em>C++</em>
									</div>
									<div class="class-num-contents">
										<h3 class="name">算法与数据结构C++精解</h3>
										<p>算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解</p>
									</div>
									<div class="class-num-bottom">
										<div class="class-people">112人在学</div>
										<div class="class-price">￥110.00</div>
									</div>
								</a>
							</div>
							<div class="class-num only-num">
								<a href="../course/course_detail.html">
									<div class="class-num-top class-num5">
										<i></i>
										<em>C++</em>
									</div>
									<div class="class-num-contents">
										<h3 class="name">算法与数据结构C++精解</h3>
										<p>算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解</p>
									</div>
									<div class="class-num-bottom">
										<div class="class-people">112人在学</div>
										<div class="class-price">￥110.00</div>
									</div>
								</a>
							</div>
							<div class="class-num only-num">
								<a href="../course/course_detail.html">
									<div class="class-num-top class-num6">
										<i></i>
										<em>C++</em>
									</div>
									<div class="class-num-contents">
										<h3 class="name">算法与数据结构C++精解</h3>
										<p>算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解</p>
									</div>
									<div class="class-num-bottom">
										<div class="class-people">112人在学</div>
										<div class="class-price">￥110.00</div>
									</div>
								</a>
							</div>
							<div class="class-num only-num">
								<a href="../course/course_detail.html">
									<div class="class-num-top class-num7">
										<i></i>
										<em>C++</em>
									</div>
									<div class="class-num-contents">
										<h3 class="name">算法与数据结构C++精解</h3>
										<p>算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解</p>
									</div>
									<div class="class-num-bottom">
										<div class="class-people">112人在学</div>
										<div class="class-price">￥110.00</div>
									</div>
								</a>
							</div>
							<div class="class-num only-num no-margin">
								<a href="../course/course_detail.html">
									<div class="class-num-top class-num7">
										<i></i>
										<em>C++</em>
									</div>
									<div class="class-num-contents">
										<h3 class="name">算法与数据结构C++精解</h3>
										<p>算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解算法与数据结构C++精解</p>
									</div>
									<div class="class-num-bottom">
										<div class="class-people">112人在学</div>
										<div class="class-price">￥110.00</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!--//优质课程-->
				<!--优秀讲师-->
				<div class="goodteacher container-type">
					<div class="container-title no-margin-bottom">
						<h3>优秀讲师</h3>
						<a href="../teacher/teacher.html">
							<span>更多</span>>
						</a>
					</div>
					<div class="container-contents teacher-contents">						
						<ul class="clearfix">
							<li class="no-margin-left">
								<a href="../teacher/teacher-detail.html">
									<div class="teach-num">
										<h4>羊羊羊</h4>
										<span>金牌机械设计导师</span>
									</div>
									<img src="../../../resources/imgs/index/teacher1.png" alt="" title="">
								</a>
							</li>
							<li>
								<a href="../teacher/teacher-detail.html" class="another-bg">
									<div class="teach-num">
										<h4>羊羊羊</h4>
										<span>金牌机械设计导师</span>
									</div>
									<img src="../../../resources/imgs/index/teacher2.png" alt="" title="">
								</a>
							</li>
							<li>
								<a href="../teacher/teacher-detail.html">
									<div class="teach-num">
										<h4>羊羊羊</h4>
										<span>金牌机械设计导师</span>
									</div>
									<img src="../../../resources/imgs/index/teacher3.png" alt="" title="">
								</a>
							</li>
							<li>
								<a href="../teacher/teacher-detail.html" class="another-bg">
									<div class="teach-num">
										<h4>羊羊羊</h4>
										<span>金牌机械设计导师</span>
									</div>
									<img src="../../../resources/imgs/index/teacher1.png" alt="" title="">
								</a>
							</li>
							<li>
								<a href="../teacher/teacher-detail.html" class="another-bg">
									<div class="teach-num">
										<h4>羊羊羊</h4>
										<span>金牌机械设计导师</span>
									</div>
									<img src="../../../resources/imgs/index/teacher2.png" alt="" title="">
								</a>
							</li>
							<li class="no-margin-left">
								<a href="../teacher/teacher-detail.html">
									<div class="teach-num">
										<h4>羊羊羊</h4>
										<span>金牌机械设计导师</span>
									</div>
									<img src="../../../resources/imgs/index/teacher4.png" alt="" title="">
								</a>
							</li>
							<li>
								<a href="../teacher/teacher-detail.html" class="another-bg">
									<div class="teach-num">
										<h4>羊羊羊</h4>
										<span>金牌机械设计导师</span>
									</div>
									<img src="../../../resources/imgs/index/teacher4.png" alt="" title="">
								</a>
							</li>
							<li>
								<a href="../teacher/teacher-detail.html">
									<div class="teach-num">
										<h4>羊羊羊</h4>
										<span>金牌机械设计导师</span>
									</div>
									<img src="../../../resources/imgs/index/teacher1.png" alt="" title="">
								</a>
							</li>
							<li>
								<a href="../teacher/teacher-detail.html" class="another-bg">
									<div class="teach-num">
										<h4>羊羊羊</h4>
										<span>金牌机械设计导师</span>
									</div>
									<img src="../../../resources/imgs/index/teacher3.png" alt="" title="">
								</a>
							</li>
							<li>
								<a href="../teacher/teacher-detail.html">
									<div class="teach-num">
										<h4>羊羊羊</h4>
										<span>金牌机械设计导师</span>
									</div>
									<img src="../../../resources/imgs/index/teacher2.png" alt="" title="">
								</a>
							</li>
						</ul>						
					</div>
				</div>
				<!--//优秀讲师-->
				<!--就业明星-->
				<div class="goodstudent container-type">
					<div class="container-title">
						<h3>就业明星</h3>
						<a href="../work/work.html">
							<span>更多</span>>
						</a>
					</div>
					<div class="container-contents">
						<div class="goodstudent-num only-num">
							<a href="../work/work_detail.html">
								<div class="con">
									<img src="../../../resources/imgs/index/goodstudent1.jpg" alt="" title="">
									<h3>BOBBY</h3>
									<h4>bobby专家</h4>
									<p>专注于开发有多年经验，致力于研究，
									专注于开发有多年经验，致力于研究，专注于开发
									有多年经验，致力于研究，专注于开发</p>
								</div>
							</a>
						</div>
						<div class="goodstudent-num only-num">
							<a href="../work/work_detail.html">
								<div class="con">
									<img src="../../../resources/imgs/index/goodstudent1.jpg" alt="" title="">
									<h3>BOBBY</h3>
									<h4>bobby专家</h4>
									<p>专注于开发有多年经验，致力于研究，
									专注于开发有多年经验，致力于研究，专注于开发
									有多年经验，致力于研究，专注于开发</p>
								</div>
							</a>
						</div>
						<div class="goodstudent-num only-num">
							<a href="../work/work_detail.html">
								<div class="con">
									<img src="../../../resources/imgs/index/goodstudent1.jpg" alt="" title="">
									<h3>BOBBY</h3>
									<h4>bobby专家</h4>
									<p>专注于开发有多年经验，致力于研究，
									专注于开发有多年经验，致力于研究，专注于开发
									有多年经验，致力于研究，专注于开发</p>
								</div>
							</a>
						</div>
						<div class="goodstudent-num only-num">
							<a href="../work/work_detail.html">
								<div class="con">
									<img src="../../../resources/imgs/index/goodstudent1.jpg" alt="" title="">
									<h3>BOBBY</h3>
									<h4>bobby专家</h4>
									<p>专注于开发有多年经验，致力于研究，
									专注于开发有多年经验，致力于研究，专注于开发
									有多年经验，致力于研究，专注于开发</p>
								</div>
							</a>
						</div>
						<div class="goodstudent-num only-num no-margin-right">
							<a href="../work/work_detail.html">
								<div class="con">
									<img src="../../../resources/imgs/index/goodstudent1.jpg" alt="" title="">
									<h3>BOBBY</h3>
									<h4>bobby专家</h4>
									<p>专注于开发有多年经验，致力于研究，
									专注于开发有多年经验，致力于研究，专注于开发
									有多年经验，致力于研究，专注于开发</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<!--//就业明星-->
				
				<!--学员风采-->
				<div class="student-photo container-type">
					<div class="container-title">
						<h3>学员风采</h3>
						<a href="../work/work_detail2.html">
							<span>更多</span>>
						</a>
					</div>
					<div class="container-contents">
						<ul class="photo-wrap">
							<li><a href="../work/work_detail.html">
								<img src="../../../resources/imgs/star/star_dt1.jpg"/></a>
								<p> java班</p>
							</li>
							<li><a href="../work/work_detail.html">
								<img src="../../../resources/imgs/star/star_dt2.jpg"/></a>
								<p> java班</p>
							</li>
							<li><a href="../work/work_detail.html">
								<img src="../../../resources/imgs/star/star_dt3.jpg"/></a>
								<p> java班</p>
							</li>
							<li><a href="../work/work_detail.html">
								<img src="../../../resources/imgs/star/star_dt4.jpg"/></a>
								<p> java班</p>
							</li>
							<li><a href="../work/work_detail.html">
								<img src="../../../resources/imgs/star/star_dt5.jpg"/></a>
								<p> java班</p>
							</li>
						</ul>
					</div>
				</div>
				<!--学员风采-->
				<!--就业指导-->
				<div class="work container-type">
					<div class="container-title">
						<h3 >公司新闻</h3>
						<h3 class="num1">最新新闻</h3>
					</div>
					<div class="container-contents news">
						<div class="work-num work-left">
							<div class="con">
								<div class="top">
									<h3>大型项目架构与演进过程</h3>
								</div>
								<div class="contents">
									<a class="list-num clearfix" href="../news/news_detail.html">
										<i>技术</i>
										<span>REST的最佳实践</span>
									</a>
									<a class="list-num clearfix" href="../news/news_detail.html">
										<i>JAVA</i>
										<span>REST的最佳实践</span>
									</a>
									<a class="list-num clearfix" href="../news/news_detail.html">
										<i>HTML/CSS</i>
										<span>REST的最佳实践</span>
									</a>
									<a class="list-num clearfix" href="../news/news_detail.html">
										<i>HTML/CSS</i>
										<span>REST的最佳实践</span>
									</a>
								</div>
								<div class="bottom">
									<a href="../news/news.html">公司新闻获取更多></a>
								</div>
							</div>		
						</div>
						<div class="work-num work-right">
							<div class="con">
								<div class="top">
									<h3>大型项目架构与演进过程</h3>
								</div>
								<div class="contents">
									<a class="list-num clearfix" href="../news/news_detail.html">
										<i>产品</i>
										<span>REST的最佳实践</span>
									</a>
									<a class="list-num clearfix" href="../news/news_detail.html">
										<i>JAVA</i>
										<span>REST的最佳实践</span>
									</a>
									<a class="list-num clearfix" href="../news/news_detail.html">
										<i>HTML/CSS</i>
										<span>REST的最佳实践</span>
									</a>
									<a class="list-num clearfix" href="../news/news_detail.html">
										<i>HTML/CSS</i>
										<span>REST的最佳实践</span>
									</a>
								</div>
								<div class="bottom">
									<a href="../news/news.html">最新新闻获取更多></a>
								</div>
							</div>		
						</div>
					</div>
				</div>	
				<!--//就业指导-->
				<!--就业感言-->
				<div class="talk container-type">
					<div class="container-title no-margin-bottom">
						<h3>就业感言</h3>
						<a href="../student/student.html">
							<span>更多</span>>
						</a>
					</div>
					<div class="container-contents talk-contents">						
						<ul class="clearfix">
							<li class="no-margin-left">
								<a href="../student/student.html">
									<div class="talk-num">
										<img src="../../../resources/imgs/index/talkimg.jpg" alt="" title="">		
										<div class="flower">
											<h4>张大大</h4>
											<i>入职百度，高级程序员</i>
											<img src="../../../resources/imgs/index/talkbg.png" alt="" title="">
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="../student/student.html">
									<div class="talk-num">
										<img src="../../../resources/imgs/index/talkimg2.jpg" alt="" title="">
										<div class="flower">
											<h4>张大大</h4>
											<i>入职百度，高级程序员</i>
											<img src="../../../resources/imgs/index/talkbg.png" alt="" title="">
										</div>
									</div>			
								</a>
							</li>
							<li>
								<a href="../student/student.html">
									<div class="talk-num">
										<img src="../../../resources/imgs/index/talkimg3.jpg" alt="" title="">
										<div class="flower">
											<h4>张大大</h4>
											<i>入职百度，高级程序员</i>
											<img src="../../../resources/imgs/index/talkbg.png" alt="" title="">
										</div>
									</div>			
								</a>
							</li>
							<li>
								<a href="../student/student.html">
									<div class="talk-num">
										<img src="../../../resources/imgs/index/talkimg.jpg" alt="" title="">
										<div class="flower">
											<h4>张大大</h4>
											<i>入职百度，高级程序员</i>
											<img src="../../../resources/imgs/index/talkbg.png" alt="" title="">
										</div>
									</div>			
								</a>
							</li>
							<li>
								<a href="../student/student.html">
									<div class="talk-num">
										<img src="../../../resources/imgs/index/talkimg2.jpg" alt="" title="">
										<div class="flower">
											<h4>张大大</h4>
											<i>入职百度，高级程序员</i>
											<img src="../../../resources/imgs/index/talkbg.png" alt="" title="">
										</div>
									</div>			
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--//就业感言-->
			</div>
			<!--footer-->
			<div class="footer">
				<div class="wrap">
					<div class="footer-wrap clearfix">
						<div class="footer-icons-wrap">
							<a href="#" class="footer-icons-weibo" title="微博"></a>
							<a href="#" class="footer-icons-weixin" title="微信"></a>
							<a href="#" class="footer-icons-qqweibo" title="腾讯新闻"></a>
						</div>
						<div class="footer_intro">
							<div class="footer_link">
			                    <ul>
			                        <li><a href="../index/index.html" target="_blank">网站首页</a></li>
			                        <li><a href="../about/about.html" target="_blank" title="企业合作">企业合作</a></li>
			                        <li> <a href="../about/about.html#" target="_blank">联系我们</a></li>
			                        <li> <a href="../about/about.html" target="_blank">讲师招募</a></li>
			                        <li> <a href="../about/about.html" target="_blank">意见反馈</a></li>
			                    </ul>
			                    <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
		                	</div>
						</div>
					</div>
				</div>
			</div>
			<!--//footer-->
		</div>
	</body>
</html>
