.startCourse_contents{width:100%; height: auto;}
.startCourse_toggle{background: url(../../../../imgs/startCourse/bg2.jpg) no-repeat; width:100%; height:300px; position:relative;}
.startCourse_title{margin-top: 72px; font-size: 36px;  color: #fff;  line-height: 36px;  text-align: center;  text-shadow: 0px 4px 8px rgba(7, 17, 27, 0.4);  letter-spacing: 10px;  margin-bottom: 16px;}
.startCourse_infor{margin-left: auto;  margin-right: auto;  font-size: 18px;  font-weight: 200;  color: #fff;  width: 880px;  line-height: 28px;  height: 56px;  overflow: hidden;  text-align: center;  text-shadow: 0px 4px 8px rgba(7, 17, 27, 0.4);}
.startCourse_tabNav{position: absolute;cursor: pointer;  width: 1104px;  height: 120px;  box-sizing: border-box;  background-color: #fff;  border-radius: 12px;  box-shadow: 0px 8px 16px rgba(7, 17, 27, 0.1);  left: 50%;  bottom: -60px;  margin-left: -552px;  padding: 28px 24px 0; z-index: 10;}
.startCourse_tabNav li{ position: relative; float: left; width: 25%; }
.startCourse_tabNav li h3{font-size: 16px; text-align: center;}
.startCourse_tabNav ul li div.starCourse_div{ position: relative;left: 0; top: 0; transition: all 0.6s;}
.startCourse_tabNav ul li:hover div.starCourse_div{top: -10px;}
.startCourse_tabNav ul li .starCourse_line{ position: absolute;  left: 80px; bottom: -10px; width:100px; height: 2px;  background: #D12610; }
.startCourse_navicon{width: 36px;  height: 36px;  margin-left: auto;  margin-right: auto;  margin-bottom: 8px;  transition: .1s all linear;  margin-top: 0;  background:url(../../../../imgs/startCourse/nav.png);  background-size: cover;}
.all{  background-position: 0 0;}
.jx{  background-position: -35px 0;}
.gx{  background-position: -72px 0;}
.cjj {  background-position: -106px 0;}
.qrs{  background-position: -143px 0;}
.bc {  background-position: -180px 0;}
.screening-box { 
	position: relative;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
  padding: 0px 12px;
  box-sizing: border-box;
}
.screening-box .screening-time{
	width: 1232px;
	margin:0 auto;
}
.screening-box .screening-time span {
  display: inline-block;
  font-size: 14px;
  color: #93999f;
  line-height: 24px;
  margin-right: 36px;
  font-weight: 200;
}
.screening-box .screening-time span a {
  color: #93999f;
}
.screening-box .screening-time span a:hover {
  color: #4d555d;
}
.screening-box .screening-time span a.on {
  color: #07111b;
}
.screening-box .screenjing-type .tool-item {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}
.screening-box .screenjing-type .tool-item .hide-learned {
  color: #787d82;
}

.index-list-wrap {
  width: 100%;
  margin: 110px auto 0;
  position: relative;
}
.index-list-wrap .tab {
  display: none;
}.index-list-wrap .tab:first-child {
  display: block;
}
.index-list-wrap .shizhan-course-list {
  width: 1232px;
  margin: -16px auto;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap {
  position: relative;
  margin: 16px;
  width: 276px;
  height: 316px;
  box-shadow: 0px 4px 8px 0px rgba(7, 17, 27, 0.1);
  transition: .3s all linear;
  border-radius: 6px;
  background: #fff;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap a {
  display: block;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap:hover {
  box-shadow: 0px 8px 16px 0px rgba(7, 17, 27, 0.2);
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .box {
  width: 276px;
  overflow: hidden;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .img-box {
  width: 276px;
  height: 96px;
  overflow: hidden;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .img-box img {
  width: 276px;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-course-rate {
  position: absolute;
  width: 40px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
  background-color: #07111b;
  font-weight: 200;
  text-align: center;
  right: -4px;
  top: 12px;
  z-index: 1;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-course-rate:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  overflow: hidden;
  border-top: 4px solid #07111b;
  border-right: 4px solid transparent;
  right: 0;
  bottom: -4px;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-course-img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box {
  position: relative;
  width: 277px;
  height: 220px;
  background: #fff;
  padding: 22px 20px 24px;
  box-sizing: border-box;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizan-name {
  font-size: 16px;
  line-height: 28px;
  color: #07111b;
  font-weight: 200;
  letter-spacing: -0.1px;
  max-height: 56px;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizan-desc {
  margin-top: 8px;
  font-size: 12px;
  line-height: 24px;
  color: #93999f;
  font-weight: 200;
  max-height: 48px;
  word-break: break-all;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom {
  position: absolute;
  bottom: 15px;
  width: 228px;
  box-sizing: border-box;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .shizhan-info {float: left;   font-size: 12px;  line-height: 20px;  color: #93999f;  font-weight: 200;}
.shizhan-info-paddingleft{padding-right: 23px;}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .shizhan-info  span{font-size: 13px;}


.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box {
  position: relative;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box:hover .evaluation-desc-box {
  display: block;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .stars {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 153, 0, 0.2);
  margin-right: 0px;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .stars .on {
  color: #ff9900;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box {
  display: none;
  position: absolute;
  bottom: 24px;
  width: 228px;
  padding: 16px 0px;
  background: #ff9900;
  border-radius: 4px;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box .trangle {
  position: absolute;
  bottom: -5px;
  left: 34px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #ff9900;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box p {
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  font-weight: 200;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box .left-box {
  width: 118px;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box .left-box .big-text {
  font-size: 20px;
  line-height: 20px;
  margin: 4px 0px;
  font-weight: 200;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box .right-box {
  width: 110px;
  text-align: center;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box .right-box span {
  margin-left: 4px;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .evaluation-box .evaluation-desc-box .right-box p:nth-child(2) {
  margin: 8px 0px;
}
.index-list-wrap .shizhan-course-list .shizhan-course-wrap .shizhan-course-box .shizhan-intro-box .shizhan-info-bottom .bottom-box .shizhan-course-price {
  font-size: 16px;
  color: #f01414;
  line-height: 20px;
  font-weight: 200;
}
.index-list-wrap .no-course-box {
  padding: 120px 0px 200px;
  text-align: center;
}
.index-list-wrap .no-course-box .no-course {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 24px;
  color: #93999f;
  font-weight: 200;
}
.index-list-wrap .no-course-box a {
  font-size: 16px;
  line-height: 16px;
  color: #f01414;
}
.index-list-wrap .no-course-box a:hover {
  color: #f04646;
}
.r{float: right;}
.l{ float: left;}
.page{margin-bottom: 40px;}
.star_cont_Page{ width:241px; margin:0 auto; height:36px; text-align:center; color:#acacac; margin-top:100px;}
.star_cont_Page li{ width:36px; line-height:36px; background:#eeeeee; float:left; text-align:center;margin-right:5px; cursor: pointer;}
.star_cont_Page li:hover{ background:#ee4747; transition: all .2s; color:#fff;}
