<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>老师列表</title>
		<link rel="stylesheet" href="../../../resources/assets/plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../resources/assets/common/css/common.css" />
		<link rel="stylesheet" href="../../../resources/assets/front/css/teacher/teacher.css" />
		
		<script src="../../../resources/assets/plugins/jquery.min.js"></script>
		<script src="../../../resources/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../resources/assets/common/js/common.js"></script>
	</head>
	<body>
		<div class="header-wrap">
			<div class="header">
					<div class="logo">
						<a href="../index/index.html">
							<img src="../../../resources/imgs/common/logo2.png" alt="" />
						</a>
					</div>
					<div class="nav">
						<ul>
							<li><a href="../index/index.html " >首页</a></li>
					        <li><a href="../course/course.html" >课程</a></li>
					        <li><a href="../course/class.html">开班信息</a></li>
					        <li><a href="../teacher/teacher.html" style="color:#ee4747;">专家师资</a></li>
					        <li><a href="../work/work.html">学员就业</a></li>
					        <li><a href="../news/news.html">公司新闻</a></li>
					      	<li><a href="../about/about.html" >关于我们</a></li>
						</ul>
					</div>
					
				</div>

		</div>
			
		
		<div class="teacher">
			<div class="teacher_banner">
				<div class="txt">
					<h1>师者，所以传道受业解惑也</h1>
					<p>长光工程讲师招募中</p>
				</div>
			</div>
			<div class="teacherinfo">
				<ul>
					<li>
		                <p><img src="../../../resources/imgs/teacher/teacherRecruitInfoImg1.jpg" alt="全职&amp;兼职"></p>
		                <div class="infos">
		                    <strong>带班讲师</strong>
		                    <span>足不出户，桃李天下</span>
		                    <p>带班老师可以灵活安排自己的时间，使用麦子学院提供的课程大纲开班教学，在线辅导学生学习，批改学生项目。</p>
		                </div>
		                <span><b>197</b>人已申请</span>
		            </li>
		            <li>
		                <p><img src="../../../resources/imgs/teacher/teacherRecruitInfoImg2.jpg" alt="兼职"></p>
		                <div class="infos">
		                    <strong>录课讲师</strong>
		                    <span>与世界分享你的技术和经验</span>
		                    <p>录课老师根据麦子学院开设的专业录制自己的视频课程，将自己的多年技术经验总结成为麦子学院开班教学的视频教材。</p>
		                </div>
		                <span><b>219</b>人已申请</span>
		            </li>
		            <li class="lastLi">
		                <p><img src="../../../resources/imgs/teacher/teacherRecruitInfoImg3.jpg" alt="介绍大牛"></p>
		                <div class="infos">
		                    <strong>介绍大牛当讲师</strong>
		                    <span>让Ta培养更多改变世界的人</span>
		                    <div class="share-ibox">
		                        <div class="icon-list clearfix">
		                        	<span class="icon-qq"></span>
		                        	<span class="icon-qzone"></span>
		                        	<span class="icon-wechat"></span>
		                        	<span class="icon-sina"></span>
		                        </div>  
		                   </div>
		                    <p>如果您身边有能够成为麦子讲师的大牛，我们真诚的希望您能够向Ta分享本页面</p>
		                </div>
		            </li>
				</ul>
				<i>向下箭头</i>
			</div>
			<div class="teacheraply">
				<h3>咨询电话： 028-69759682</h3>
				<a href="/teacher/recruit-form/">申请成为麦子讲师</a>
			</div>
			<div class="gold-teacher">
				<h2>他们都在麦子</h2>
				<div class="gold-slide">
					<div class="tempWrap">
						<ul class="clearfix">
							<li>
								<div class="inner_box">
									<img src="../../../resources/imgs/teacher/gold_teacher_1.png" alt="" />
									<div class="hover-mask"></div>
									<div class="hover-card">
										<h4>王海宁</h4>
										<small>嵌入式Linux 开发金牌讲师</small>
										<p>
											9年物联网嵌入式Linux开发经验，曾任长虹集团高级嵌入式工程师，中国电信，中国移动三网融合智慧家庭某项目负责人，某大型嵌入式IT教育集团金牌讲师，
											精通ARM体系结构与接口开发，Linux应用编程及驱动开发，所讲授课程获得学生的一致好评。
										</p>
										<a href="teacher-more.html">查看老师作品</a>
										<div class="teach-icon">
											<img src="../../../resources/imgs/teacher/teacher-head.png"/>
										</div>
									</div>
								</div>
								<h5>王海宁</h5>
								<p>嵌入式Linux 开发金牌讲师</p>
							</li>
							<li>
								<div class="inner_box">
									<img src="../../../resources/imgs/teacher/gold_teacher_2.png" alt="" />
									<div class="hover-mask"></div>
									<div class="hover-card">
										<h4>王海宁</h4>
										<small>嵌入式Linux 开发金牌讲师</small>
										<p>
											9年物联网嵌入式Linux开发经验，曾任长虹集团高级嵌入式工程师，中国电信，中国移动三网融合智慧家庭某项目负责人，某大型嵌入式IT教育集团金牌讲师，
											精通ARM体系结构与接口开发，Linux应用编程及驱动开发，所讲授课程获得学生的一致好评。
										</p>
										<a href="teacher-more.html">查看老师作品</a>
										<div class="teach-icon">
											<img src="../../../resources/imgs/teacher/teacher-head.png"/>
										</div>
									</div>
								</div>
								<h5>王海宁</h5>
								<p>嵌入式Linux 开发金牌讲师</p>
							</li>
							<li>
								<div class="inner_box">
									<img src="../../../resources/imgs/teacher/gold_teacher_3.png" alt="" />
									<div class="hover-mask"></div>
									<div class="hover-card">
										<h4>王海宁</h4>
										<small>嵌入式Linux 开发金牌讲师</small>
										<p>
											9年物联网嵌入式Linux开发经验，曾任长虹集团高级嵌入式工程师，中国电信，中国移动三网融合智慧家庭某项目负责人，某大型嵌入式IT教育集团金牌讲师，
											精通ARM体系结构与接口开发，Linux应用编程及驱动开发，所讲授课程获得学生的一致好评。
										</p>
										<a href="teacher-more.html">查看老师作品</a>
										<div class="teach-icon">
											<img src="../../../resources/imgs/teacher/teacher-head.png"/>
										</div>
									</div>
								</div>
								<h5>王海宁</h5>
								<p>嵌入式Linux 开发金牌讲师</p>
							</li>
							<li>
								<div class="inner_box">
									<img src="../../../resources/imgs/teacher/gold_teacher_4.png" alt="" />
									<div class="hover-mask"></div>
									<div class="hover-card">
										<h4>王海宁</h4>
										<small>嵌入式Linux 开发金牌讲师</small>
										<p>
											9年物联网嵌入式Linux开发经验，曾任长虹集团高级嵌入式工程师，中国电信，中国移动三网融合智慧家庭某项目负责人，某大型嵌入式IT教育集团金牌讲师，
											精通ARM体系结构与接口开发，Linux应用编程及驱动开发，所讲授课程获得学生的一致好评。
										</p>
										<a href="teacher-more.html">查看老师作品</a>
										<div class="teach-icon">
											<img src="../../../resources/imgs/teacher/teacher-head.png"/>
										</div>
									</div>
								</div>
								<h5>王海宁</h5>
								<p>嵌入式Linux 开发金牌讲师</p>
							</li>
							<li>
								<div class="inner_box">
									<img src="../../../resources/imgs/teacher/gold_teacher_5.png" alt="" />
									<div class="hover-mask"></div>
									<div class="hover-card">
										<h4>王海宁</h4>
										<small>嵌入式Linux 开发金牌讲师</small>
										<p>
											9年物联网嵌入式Linux开发经验，曾任长虹集团高级嵌入式工程师，中国电信，中国移动三网融合智慧家庭某项目负责人，某大型嵌入式IT教育集团金牌讲师，
											精通ARM体系结构与接口开发，Linux应用编程及驱动开发，所讲授课程获得学生的一致好评。
										</p>
										<a href="teacher-more.html">查看老师作品</a>
										<div class="teach-icon">
											<img src="../../../resources/imgs/teacher/teacher-head.png"/>
										</div>
									</div>
								</div>
								<h5>王海宁</h5>
								<p>嵌入式Linux 开发金牌讲师</p>
							</li>
							<li>
								<div class="inner_box">
									<img src="../../../resources/imgs/teacher/gold_teacher_6.png" alt="" />
									<div class="hover-mask"></div>
									<div class="hover-card">
										<h4>王海宁</h4>
										<small>嵌入式Linux 开发金牌讲师</small>
										<p>
											9年物联网嵌入式Linux开发经验，曾任长虹集团高级嵌入式工程师，中国电信，中国移动三网融合智慧家庭某项目负责人，某大型嵌入式IT教育集团金牌讲师，
											精通ARM体系结构与接口开发，Linux应用编程及驱动开发，所讲授课程获得学生的一致好评。
										</p>
										<a href="teacher-more.html">查看老师作品</a>
										<div class="teach-icon">
											<img src="../../../resources/imgs/teacher/teacher-head.png"/>
										</div>
									</div>
								</div>
								<h5>王海宁</h5>
								<p>嵌入式Linux 开发金牌讲师</p>
							</li>
							<li>
								<div class="inner_box">
									<img src="../../../resources/imgs/teacher/gold_teacher_7.png" alt="" />
									<div class="hover-mask"></div>
									<div class="hover-card">
										<h4>王海宁</h4>
										<small>嵌入式Linux 开发金牌讲师</small>
										<p>
											9年物联网嵌入式Linux开发经验，曾任长虹集团高级嵌入式工程师，中国电信，中国移动三网融合智慧家庭某项目负责人，某大型嵌入式IT教育集团金牌讲师，
											精通ARM体系结构与接口开发，Linux应用编程及驱动开发，所讲授课程获得学生的一致好评。
										</p>
										<a href="teacher-more.html">查看老师作品</a>
										<div class="teach-icon">
											<img src="../../../resources/imgs/teacher/teacher-head.png"/>
										</div>
									</div>
								</div>
								<h5>王海宁</h5>
								<p>嵌入式Linux 开发金牌讲师</p>
							</li>
							<li>
								<div class="inner_box">
									<img src="../../../resources/imgs/teacher/gold_teacher_8.png" alt="" />
									<div class="hover-mask"></div>
									<div class="hover-card">
										<h4>王海宁</h4>
										<small>嵌入式Linux 开发金牌讲师</small>
										<p>
											9年物联网嵌入式Linux开发经验，曾任长虹集团高级嵌入式工程师，中国电信，中国移动三网融合智慧家庭某项目负责人，某大型嵌入式IT教育集团金牌讲师，
											精通ARM体系结构与接口开发，Linux应用编程及驱动开发，所讲授课程获得学生的一致好评。
										</p>
										<a href="teacher-more.html">查看老师作品</a>
										<div class="teach-icon">
											<img src="../../../resources/imgs/teacher/teacher-head.png"/>
										</div>
									</div>
								</div>
								<h5>王海宁</h5>
								<p>嵌入式Linux 开发金牌讲师</p>
							</li>
						</ul>
					</div>
				</div>
				<ul class="gold-tab">
					<li class="on"></li>
					<li></li>
				</ul>
			</div>
			<div class="teacher-join">
				<strong>让我们一起培养更多改变世界的人</strong>
				<b>咨询电话：028-69759682</b>
				<a href="/teacher/recruit-form/">申请成为麦子讲师</a>
			</div>
		</div>

		<div class="footer">
			<div class="wrap">
				<div class="footer-wrap clearfix">
					<div class="footer-icons-wrap">
						<a href="#" class="footer-icons-weibo" title="微博"></a>
						<a href="#" class="footer-icons-weixin" title="微信"></a>
						<a href="#" class="footer-icons-qqweibo" title="腾讯新闻"></a>
					</div>
					<div class="footer_intro">
						<div class="footer_link">
		                    <ul>
		                         <li><a href="../index/index.html" target="_blank">网站首页</a></li>
			                        <li><a href="../about/about.html" target="_blank" title="企业合作">企业合作</a></li>
			                        <li> <a href="../about/about.html#" target="_blank">联系我们</a></li>
			                        <li> <a href="../about/about.html" target="_blank">讲师招募</a></li>
			                        <li> <a href="../about/about.html" target="_blank">意见反馈</a></li>
		                    </ul>
		                    <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
	                	</div>
					</div>
				</div>
				
			</div>
		</div>

	</body>
	<script type="text/javascript">
		window.onload=function(){
			//金牌导师
			$(function(){
				$(".gold-tab li").eq(1).click(function(){
					$(".tempWrap ul").animate({left:"-1100px"});
					$(".gold-tab li").removeClass("on");	
					$(".gold-tab li").eq(1).addClass("on");
				})
				$(".gold-tab li").eq(0).click(function(){
					$(".tempWrap ul").animate({left:"0"});
					$(".gold-tab li").removeClass("on");	
					$(".gold-tab li").eq(0).addClass("on");
				})
			})
			$(".search input").focus(function(){
				$(".search input").val("");
				$(".search input").css("color","rgba(244,244,244,1)");				
			})
			$(".search input").blur(function(){
				$(".search input").val("请输入");
				$(".search input").css("color","rgba(244,244,244,.3)");					
			})
		}
		//搜索
		
	</script>
</html>
