<!DOCTYPE html>
<html>
<#include "common.html" />
<head lang="en">
    <base id="basePath" href="${basePath}"/>
    <meta charset="UTF-8">
    <title>四海兴唐</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <script type="text/javascript" src="${basePath}/resources/assets/mobile/common/js/appConfig.js"></script>
    <link href="${basePath}/resources/assets/plugins/swiper/swiper-3.3.1.min.css" rel="stylesheet"/>
    <script src="${basePath}/resources/assets/plugins/swiper/swiper-3.3.1.min.js" type="text/javascript"></script>
</head>
<body style="background:#fff;">
    <@header/>
    <ul role="tablist" class="a_nlist" style="margin-top:50px;">
        <li role="presentation" class="act" onclick="New(0)"><a href="#home" role="tab" data-toggle="tab">公司动态</a></li>
        <li role="presentation" onclick="New(1)"><a href="#profile" role="tab" data-toggle="tab">实训资讯</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <#list company as co>
            <div class="a_new">
                <img src="${co.newsFile}" />
                <div>
                    <div><a href="${basePath}/news/detail/${co.newsId}">${co.newsTitle}</a></div>
                    <div>
                        <span class="glyphicon glyphicon-calendar"><input type="button" value="${co.newsCrtdt}" /></span>
                    </div>
                </div>
            </div>
            </#list>
        </div>
        <!-- 实训资讯 -->
        <div role="tabpanel" class="tab-pane" id="profile">
            <#list student as co>
            <div class="a_new">
                <img src="${co.newsFile}" />
                <div>
                    <div><a href="${basePath}/news/detail/${co.newsId}">${co.newsTitle}</a></div>
                    <div>
                        <span class="glyphicon glyphicon-calendar"><input type="button" value="${co.newsCrtdt}" /></span>
                    </div>
                </div>
            </div>
            </#list>
        </div>
    </div>
</body>
</html>