<!DOCTYPE HTML>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>新闻中心</title>
		<link rel="stylesheet" href="../../../resources/assets/plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../resources/assets/front/css/news/news.css" />
		<link rel="stylesheet" href="../../../resources/assets/common/css/common.css" />

		
		
		<script src="../../../resources/assets/plugins/jquery.min.js"></script>
		<script src="../../../resources/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
		<script src="../../../resources/assets/common/js/common.js"></script>
	</head>
	
	<body>
		<div id="index">
			<!--导航-->
			<div class="header-wrap">
				<div class="header">
					<div class="logo">
						<a href="../index/index.html">
							<img src="../../../resources/imgs/common/logo2.png" alt="" />
						</a>
					</div>
					<div class="nav">
						<ul>
							<li><a href="../index/index.html " >首页</a></li>
					        <li><a href="../course/course.html" >课程</a></li>
					        <li><a href="../course/class.html">开班信息</a></li>
					        <li><a href="../teacher/teacher.html">专家师资</a></li>
					        <li><a href="../work/work.html">学员就业</a></li>
					        <li><a href="../news/news.html" style="color:#ee4747;">公司新闻</a></li>
					      	<li><a href="../about/about.html" >关于我们</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			
			<div id="guidance_banner" style="width: 1349px; margin: 0 auto;">
				<img src="../../../resources/imgs/guidance/news_banner.jpg" alt="" style="width: 100%;" />
			</div>
			<!--//首页banner -->
			<div id="sitecontent" style="margin-top:-15px;">
				<div id="newsPage" class="npagePage Pagenews">

					<div class="content">
						<div id="newslist">
							<div class="wrapper clearfix">
								<div id="newsitem_0" class="wow newstitem left">
									<a class="newscontent"  target="_blank" href="news_detail.html">
									<div class="news_wrapper">
										<div class="newsbody">
											<p class="date"><span class="md">2017<span>-</span></span><span class="year">03-15</span></p>
											<p class="title">WEB前段放大镜难点突破与视频解读</p>
											<div class="separator"></div>
											<p class="description">由翰时建筑设计（A&amp;S）设计的“首开住总·棠颂别墅”项目获得美居奖“年度中国最美别墅”第一名。</p>
										</div>
									</div>
									<div class="newsimg" >
										<img src="../../../resources/imgs/guidance/news_img2.jpg" alt="" />
									</div>
									</a>
									<a href="news_detail.html" target="_blank" class="details">more<i class="fa fa-angle-right"></i></a>
									
							</div>
								<div id="newsitem_1" class="wow newstitem right">
									<a class="newscontent"  target="_blank" href="news_detail.html">
									<div class="news_wrapper">
										<div class="newsbody">
											<p class="date"><span class="md">2017<span>-</span></span><span class="year">03-14</span></p>
											<p class="title">JAVA阶段进阶篇</p>
											<div class="separator"></div>
											<p class="description">翰时建筑设计全新网站（http://www.as-arch.com/）功能较旧网站更加全面，尤其还增加了可分享且更为便利的手机端网站。</p>
										</div>
									</div>
									<div class="newsimg" >
										<img src="../../../resources/imgs/guidance/news_img2.jpg" alt="" />
									</div>
								</a>
									<a href="news_detail.html" target="_blank" class="details">more<i class="fa fa-angle-right"></i></a>
								
								</div>
								<div id="newsitem_2" class="wow newstitem left">
									<a class="newscontent"  target="_blank" href="news_detail.html">
									<div class="news_wrapper">
										<div class="newsbody">
											<p class="date"><span class="md">2017<span>-</span></span><span class="year">03-14</span></p>
											<p class="title">PHP全套课程单独讲解 解疑解惑</p>
											<div class="separator"></div>
											<p class="description">新网站不但有全新的界面设计，还有更完备的使用功能。欢迎各界同仁浏览使用，并多提宝贵意见。让我们一起把网站建设的更加完善。</p>
										</div>
									</div>
									<div class="newsimg" >
										<img src="../../../resources/imgs/guidance/news_img3.jpg" alt="" />
									</div>
								</a>
									<a href="news_detail.html" target="_blank" class="details">more<i class="fa fa-angle-right"></i></a>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<ul class="star_cont_Page" id="star_cont_Page">
					<li><</li>
					<li style="background-color: #ee4747; color: white;">1</li>
					<li>2</li>
					<li style="margin-right: 0px;">></li>
				</ul>
			</div>

			<!--footer-->
			<div class="footer defaultFoot2">
				<div class="wrap">
				<div class="footer-wrap clearfix">
					<div class="footer-icons-wrap">
						<a href="#" class="footer-icons-weibo" title="微博"></a>
						<a href="#" class="footer-icons-weixin" title="微信"></a>
						<a href="#" class="footer-icons-qqweibo" title="腾讯新闻"></a>
					</div>
					<div class="footer_intro">
						<div class="footer_link">
		                    <ul>
		                         <li><a href="../index/index.html" target="_blank">网站首页</a></li>
			                        <li><a href="../about/about.html" target="_blank" title="企业合作">企业合作</a></li>
			                        <li> <a href="../about/about.html#" target="_blank">联系我们</a></li>
			                        <li> <a href="../about/about.html" target="_blank">讲师招募</a></li>
			                        <li> <a href="../about/about.html" target="_blank">意见反馈</a></li>
		                    </ul>
		                    <p>Copyright © 2017 imooc.com All Rights Reserved | 京ICP备 13046642号-2</p>
	                	</div>
					</div>
				</div>
				
			</div>
		</div>
			<!--//footer-->
		</div>
	</body>
</html>
